/*头部样式  S*/
.personal-header{ 
    background-color: #fff;
}
.personal-header .my-logo,.my-main,.account-set {
	display: block; 
	float: left;
 	height: 88px;
 	line-height: 88px;
 	font-size: 20px;
}
.personal-header .my-logo{
	padding-top: 15px;
	margin-right: 180px;
}
.personal-header .my-main{
	margin-right: 84px;
}
.personal-header .my-main,.account-set{
	color: #282828;
}
.personal-header .my-main.active,.account-set.active{
	color: #DE443C;
	border-bottom: 2px solid #DE443C;
}
/*头部样式  E*/
.container .mycenter{
	background: #F1F1F1;
	padding-bottom: 216px;
}

.tip_title {
	height: 56px;
	line-height: 56px;
	font-size: 14px;
}
.myMenu{
	width: 150px;
	margin-bottom: 104px;
	background: #fff;
	-moz-box-shadow:0px 0px 6px #bebdbd;; 
	-webkit-box-shadow:0px 0px 6px #bebdbd;; 
	box-shadow:0px 0px 6px #bebdbd;;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 147px;
}
 
.mycenter .order-ul{
	margin: 24px 0;
}
/*
.myMenu ul li.first-title{
	background: url(../../img/index/about/Hcenter.png) no-repeat;
	background-position: 25px 6px;
}
.myMenu ul li.second-title{
	background: url(../../img/index/about/Horder.png) no-repeat;
	background-position: 25px 8px;
}
.myMenu ul li.third-title{
	background: url(../../img/index/about/Hserver.png) no-repeat;
	background-position: 25px 6px;
}
.myMenu ul  li.title a{
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.myMenu ul  li.active a{
	font-size: 14px;
	color: #DE443C;
}
.myMenu ul  li a{
	font-size: 14px;
	color: #818181;
	line-height: 28px;
}
 */
.myCont {
	width: 1010px;

}

.myCont .my-top{
	height: 122px;
	background-color: #fff;
	-moz-box-shadow:0px 0px 6px #bebdbd;; 
	-webkit-box-shadow:0px 0px 6px #bebdbd;; 
	box-shadow:0px 0px 6px #bebdbd;;
}
.myCont .my-top .mt-info{
	width: 310px;
	height: 122px;
	float: left; 
}
.myCont .my-top .mt-info .info-img{
	display: inline-block;
	width: 70px;
	height: 70px;
	margin: 28px 23px 0px 48px;
	border-radius: 50%; 
}
.myCont .my-top .mt-info .info-img img{
	text-align: center;
}
 .myCont .my-top .mt-info .info-name{
	display: inline-block;
	height: 22px;
	font-size: 20px;
	color: #818181;
	vertical-align: middle;
	margin-top: -60px;
}
.myCont .my-top .wait{
	display: inline-block;
	float: right;
	width: 680px;
	height: 122px;
	padding-left: 264px; 
}
.myCont .my-top .wait a{
	display: inline-block;
	width: 118px;
 	 height: 88px; 
	text-align: center;
	 padding-top: 25px;
}
.myCont .my-top .wait .red{
	color: #DE443C;
}
.myCont .my-top .wait a>p{
	margin-top: 24px;
}
.myCont .my-title{
	height: 58px;
	line-height: 58px;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.myCont .my-center{
	min-height: 410px;
	background-color: #fff; 
	-moz-box-shadow:0px 0px 6px #bebdbd;; 
	-webkit-box-shadow:0px 0px 6px #bebdbd;; 
	box-shadow:0px 0px 6px #bebdbd;;
}
/*全部订单 S*/
 
.all-order .u-panel-inner{ 
	padding: 20px 20px;
}
.all-order .u-panel-inner table {
    width: 100%; 
    color: #111;
}
.all-order .u-panel-inner table tr td {
    border-bottom: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
}
.all-order .u-panel-inner table thead tr th {
    height: 36px;
    vertical-align: middle;
    color: #5f5f89;
}
.all-order .u-panel-inner table tbody{
	margin-bottom: 20px;

}
.all-order .u-panel-inner table tbody tr td {
    height: 60px;
    line-height: 20px;
    vertical-align: middle;
}
.all-order .u-panel-inner table tbody tr td .order-company{
	font-size: 14px;
	color: #242424;
}
.all-order .u-panel-inner table tbody tr td .order-company:hover{
	color: #DE443C;
}
.all-order .u-panel-inner table tbody tr td.b-l-n {
    border-left:1px solid #eee;
}

.all-order .u-panel-inner table tbody tr td.b-r-n {
    border-right:1px solid #eee;
}
.all-order .u-panel-inner table tbody tr td .order-info{ 
	margin: 16px 0;
	
}
 .all-order .u-panel-inner table tbody tr td .order-info .Iconimg{ 
 	float: left; 
	width: 72px;
	height: 72px;
 }
  .all-order .u-panel-inner table tbody tr td .order-info .Iconimg img{
  	width: 100%;
  	height: 100%;
  }
.all-order .u-panel-inner table tbody tr td .order-info{ 
	margin: 16px 0;
}
 
.all-order .u-panel-inner table tbody tr td .order-info .order-right{
	display: inline-block; 
	margin-left: 18px;
}
.all-order .u-panel-inner table tbody tr td .order-info .order-right p:nth-of-type(1){
	margin-bottom: 8px;
}

.all-order .u-panel-inner table tbody tr td.b-n {
    border-left: none;
    border-right: none;
}

.all-order .u-panel-inner table tbody tr.body-head td {
    padding-left: 17px;
    height: 36px;
    background-color: #eee;
    vertical-align: middle;
    color: #818181;
}
.all-order .u-panel-inner table tbody tr.body-head .text-left{
	padding-top: 5px;
}
.all-order .u-panel-inner table tbody tr.body-head .deleteBtn{
	float: right;
	margin-right: 20px; 
}
.all-order .u-panel-inner table tbody tr.body-head td span:nth-of-type(1){
	margin-right: 16px;
}

.all-order .u-panel-inner table tbody tr td.body-fee {
    padding: 15px 0;
}
.all-order .u-panel-inner table tbody tr td.body-btn{
	border-left: 1px solid #dadada;
}
.all-order .u-panel-inner table tbody tr td.body-btn a {
    margin: auto;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    color: #007bc7;
}

.all-order .u-panel-inner table tbody tr td.body-btn a.pay {
	width: 60px;
	height: 28px;
    background-color: #f95b53;
    color: #fff;
    border-radius: 4px;
}

.all-order .u-panel-inner table tbody tr td.body-btn a.pay:hover {
    background-color: #de443c;
} 

.all-order .u-panel-inner table tbody tr td.body-btn span {
    color: #007bc7;
}

.all-order .u-panel-inner table tbody tr td.waiting {
    color: #e66758;

}

.all-order .u-panel-inner table tbody tr td.is-paid {
    color: #00b095;
}

.all-order .u-panel-inner table tbody tr td .color-red {
    color: #e65658;
}
.all-order .u-panel-inner table thead .white-space,
.all-order .u-panel-inner table thead .white-space th,
.all-order .u-panel-inner table thead .white-space td,
.all-order .u-panel-inner table tbody .white-space th,
.all-order .u-panel-inner table tbody .white-space td {
    border: none;
    height: 22px;
    background-color: #fff;
}
.my-center .noData{
	width: 380px;
	height: 225px;
	margin: 0 306px 206px 326px;
	padding: 40px 24px 20px 82px; 
}
.my-center .noData img{
	height: 136px;
	text-align: center;
	margin-bottom: 30px; 
}
.my-center .noData p{
	font-size: 12px;
	color: #4c4c4c; 
}
 