<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>有限责任公司注册_服务商选择</title>
    <link rel="stylesheet" href="../../../css/common/common.css"> 
    <link href="../../../css/selectprovider.css" rel="stylesheet">
    <script src="../../../js/common/reset.js"></script>
</head>

<body>
    <header>
        <a href="../../index.html">
            <span class="home"></span>
        </a>
        <a href="../../index.html">
            <span class="logo"></span>
        </a>

        <a href="../../user/selfCenter.html">
            <span class="person"></span>
        </a>

    </header>

    <div class="layout">
        <div class="page" style="touch-action: none;">
            <div class="scroll" style="transform: translate(0px, 0px) translateZ(0px);">
                <div class="pulldown-tips hidden">下拉刷新</div>
                <div id="item-list">
                    <div class="item">
                        <a href="../../order/confirm.html">
                            <div class="left">
                                <img src="../../../images/woman.png">
                            </div>
                            <div class="right">
                                <p class="name">任妍</p>
                                <p class="medal">
                                    <img src="../../../images/home/gold.png"/>
                                </p>
                                <p class="r-info">天津-天津市-武清区 | 3年经验 </p>
                                <p class="r-compay">XXXXX</p>
                                <p class="r-compay icon">自营</p>
                                <p class="rate">好评率：
                                    <span>67%</span>最近三个月接单量：
                                    <span>35</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="../../order/confirm.html">
                            <div class="left">
                                <img src="../../../images/woman.png">
                            </div>
                            <div class="right">
                                <p class="name">张钰玲</p>
                                <p class="r-info">天津-红桥区 | 18年经验</p>
                                <p class="r-info">天津世铭创诚科技有限公司</p>
                                <p class="rate">好评率：
                                    <span>100%</span>最近三个月接单量：
                                    <span>2</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="../../order/confirm.html">
                            <div class="left">
                                <img src="../../../images/woman.png">
                            </div>
                            <div class="right">
                                <p class="name">侯跃鹏</p>
                                <p class="r-info">天津-天津市-宝坻区 | 2年经验</p>
                                <p class="r-info">天津宏光财务管理有限公司</p>
                                <p class="rate">好评率：
                                    <span>0%</span>最近三个月接单量：
                                    <span>2</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="../../order/confirm.html">
                            <div class="left">
                                <img src="../../../images/woman.png">
                            </div>
                            <div class="right">
                                <p class="name">王迪</p>
                                <p class="r-info">天津-天津市-河东区 | 9年经验</p>
                                <p class="r-info">天津驰业网络科技有限公司</p>
                                <p class="rate">好评率：
                                    <span>100%</span>最近三个月接单量：
                                    <span>44</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="../../order/confirm.html">
                            <div class="left">
                                <img src="../../../images/woman.png">
                            </div>
                            <div class="right">
                                <p class="name">王迪</p>
                                <p class="r-info">天津-天津市-河东区 | 9年经验</p>
                                <p class="r-info">天津驰业网络科技有限公司</p>
                                <p class="rate">好评率：
                                    <span>100%</span>最近三个月接单量：
                                    <span>44</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="../../order/confirm.html">
                            <div class="left">
                                <img src="../../../images/woman.png">
                            </div>
                            <div class="right">
                                <p class="name">王迪</p>
                                <p class="r-info">天津-天津市-河东区 | 9年经验</p>
                                <p class="r-info">天津驰业网络科技有限公司</p>
                                <p class="rate">好评率：
                                    <span>100%</span>最近三个月接单量：
                                    <span>56</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="../../order/confirm.html">
                            <div class="left">
                                <img src="../../../images/woman.png">
                            </div>
                            <div class="right">
                                <p class="name">王迪</p>
                                <p class="r-info">天津-天津市-河东区 | 9年经验</p>
                                <p class="r-info">天津驰业网络科技有限公司</p>
                                <p class="rate">好评率：
                                    <span>100%</span>最近三个月接单量：
                                    <span>44</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pullup-tips hidden">加载更多</div>
            </div>
        </div>
    </div>
     <!--右侧悬浮工具条   
     <div class="m-customer">
        <a href="tel:62129799" >
            <div class="customer-icon-1"></div> 
        </a>
        <a href="javascript:;" onclick="openZixun();">
            <div class="customer-icon-2"></div> 
        </a>
    </div>
    右侧悬浮工具条  end-->
</body>

</html>