.mycenter {
	padding-bottom: 100px;
}

.step-img {
	width: 1180px;
	text-align: center;
	padding-top: 15px;
}

.slider-step-img-item-four-1 {
	background-image: url(/static/img/agency/Redstep1.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: 218px 7px;
}

.slider-step-img-item-four-2 {
	background-image: url(/static/img/agency/Redstep2.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: 218px 7px;
}

.slider-step-img-item-four-3 {
	background-image: url(/static/img/agency/Redstep3.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: 218px 7px;
}

.step-text.step-img-item-four {
	display: inline-block;
}

.info-content {
	background: #fff;
	border: 1px solid #dcdcdc;
	width: 1180px;
	padding: 20px 0 30px 20px;
	margin-bottom: 30px;
}

.immp-content .step-content {
	text-align: center;
	height: 120px;
	background-color: #fff;
	margin-bottom: 20px
}

.immp-content .step-content .step-text {
	font-size: 14px;
	color: #999;
	width: 186px;
	margin-top: 5px;
}

.immp-content .step-content .step-text span {
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
}

.immp-content .immp-title {
	height: 42px;
	line-height: 42px;
	padding: 0 16px;
	color: #818181;
	background: #e5e5e5;
	border: 1px solid #dcdcdc;
	border-bottom: none;
}

.immp-content .st .immp-choice {
	background: #fff;
}

.immp-content .st .immp-choice>div {
	float: left;
	display: inline-block;
	width: 589px;
	height: 500px;
	text-align: center;
}

.immp-content .st .immp-choice>div img {
	width: 280px;
	height: 240px;
	margin: 81px 0 27px;
	cursor: pointer;
}

.immp-content .st .immp-choice>div h3 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 38px;
	color: #242424;
}

.immp-content .st .immp-choice>div p {
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 55px;
	color: #999;
}


/*个人信息选择入驻类目  S*/

.immp-content .nd .main {
	border: 1px solid #dcdcdc;
	box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .2);
}

.immp-content .nd .main .categoryList {
	width: 200px;
	height: 240px;
	border-right: 1px solid #dcdcdc;
	border-top: 4px solid #f60;
	background: #fff;
}

.info-content label i {
	font-style: normal;
	color: red;
}


/*个人信息选择入驻类目  E*/


/*企业上传图片部分  S*/
 

/*企业上传图片部分  E*/


/*个人信息填写  S*/

.clearfix {
	zoom: 1;
}

.fl {
	float: left;
}

.fl,
.fr {
	display: inline;
}

input,
textarea {
	outline: none;
}

.immp-content .rd .info-content .info-id {
	margin-bottom: 36px;
}

.immp-content .rd .info-content .info-id .form-item {
	display: inline-block;
}

.immp-content .info-content label {
	color: #242424;
}

.immp-main .info-content label i {
	font-style: normal;
	color: #DE443C;
}

.immp-content .rd .info-content .info-id input {
	width: 273px;
	height: 40px;
	padding: 12px 18px;
	border: 1px solid #d4d4d4;
	background: #f7f7f7;
	font-size: 12px
}

.immp-content .rd .info-content .info-address {
	width: 100%;
	margin-bottom: 36px;
}

.immp-content .addressInit {
	display: inline-block;
	margin-right: 12px;
}

.immp-content .rd .info-content .info-address .xAdderss {
	width: 432px;
	height: 40px;
	padding: 12px 18px;
	border: 1px solid #d4d4d4;
	background: #f7f7f7;
	font-size: 12px;
}

.immp-content .rd .info-content .info-address .address {
	display: inline-block;
	height: 26px;
}

.immp-content .addressInit .address-error-prompt {
	width: 180px;
	height: 40px;
	line-height: 40px;
	padding: 12px 18px;
	border: 1px solid #d4d4d4;
	background: #f7f7f7;
	font-size: 12px
}

.immp-content .error-tip em {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/static/img/agency/error.png) no-repeat 50%;
	margin: 0 8px;
	vertical-align: bottom;
}

.immp-content .error-tip {
	display: none;
	margin-top: 5px;
	margin-left: 65px;
}


/*上传手持身份证照片 S*/

.immp-content .info-ident>p {
	line-height: 17px;
	font-size: 12px;
	color: #f60
}

.info-content .info-img {
	width: 368px;
	height: 200px;
	background: #f1f1f1;
	text-align: center;
	margin: 0 15px 15px 0;
	position: relative;
}

.info-content .info-img>input {
	width: 368px;
	height: 200px;
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	cursor: pointer;
}

.info-content .info-img .borderCss {
	border: 1px dashed #dadada;
}

.info-content .info-img h1 {
	display: inline-block;
	width: 368px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}

.info-content .info-img h1 img {
	width: auto;
	height: 200px;
}

.info-content .info-img>i {
	opacity: .6;
	background: #000;
	border-radius: 4px;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 6;
	display: none;
	cursor: pointer;
}

.info-content .info-img>i img {
	margin-top: 5px;
}

.info-content .info-img .default-img {
	padding-bottom: 18px;
}

.info-content .info-img .default-img h2 {
	height: 110px;
	margin: 0 auto;
	background: url(/static/img/agency/add.png) no-repeat center 50px;
}

.info-content .info-img .default-img h3 {
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 20px;
	color: #242424;
}

.info-content .info-img .default-img h4,
p {
	font-size: 12px;
	color: #989898;
}

.info-content .info-img>b {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 12px;
	color: #999;
	font-weight: 400;
}

.info-content .specialTitle {
	display: inline-block;
	width: 368px;
	padding: 10px 0;
	color: #333;
}


/*上传手持身份证照片 E*/


/*提交按钮设置  s*/

.immp-step {
	text-align: center;
}

.immp-step .prev {
	border: 1px solid #dadada;
}

.immp-step button,
.immp-step p {
	display: inline-block;
	width: 150px;
	height: 45px;
	margin-right: 20px;
	line-height: 45px;
	cursor: pointer;
	vertical-align: bottom;
	font-size: 14px;
}

.btn-fill.btn-warning {
	background: #DE443C;
	color: #fff;
}


/*提交按钮设置  E*/


/*个人信息填写  E*/


/*提交完成的页面   S*/

.immp-content .five .immp-banner {
	background: #fff;
	text-align: center;
	padding-bottom: 51px;
	margin-bottom: 20px;
}

.immp-content .five .immp-banner h2 {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

.immp-content .five .immp-banner h2 span {
	color: #DE443C;
}

.immp-content .five .immp-banner p {
	width: 500px;
	margin: 20px auto 0;
	color: #999;
	word-break: break-all;
}

.immp-content .five .immp-banner p span {
	cursor: pointer;
	color: #4990e2;
}


/*提交完成的页面  E*/


/*图片上传的  S*/

.item {
	width: 368px;
	height: 200px;
	float: left;
	position: relative;
	margin-right: 17px;
}

.addImg {
	width: 368px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	cursor: pointer;
}

.preview,
.preBlock {
	position: absolute;
	display: block;
	width: 368px;
	height: 200px;
	left: 0;
	top: 0;
}

.delete {
	width: 30px;
	position: absolute;
	right: -30px;
	top: -15px;
	cursor: pointer;
	display: none;
}

.preBlock img {
	display: block;
	width: 368px;
	height: 200px;
}

.upload_input {
	display: block;
	width: 0;
	height: 0;
	-webkit-opacity: 0.0;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0.0;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0.0;
	/* IE9 + etc...modern browsers */
	opacity: .0;
	/* IE 4-9 */
	filter: alpha(opacity=0);
	/*This works in IE 8 & 9 too*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/*IE4-IE9*/
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}


/*图片上传的 E*/