<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>有限公司注册_公司注册_ 注册公司代理 - XXXXX</title>
    <link href="../../../css/info.css" rel="stylesheet">
    <script src="../../../js/common/reset.js"></script>
</head>

<body>
    <header>
        <a href="../../index.html">
            <span class="home"></span>
        </a>
        <a href="#">
            <span class="title">公司注册</span>
        </a>

        <a href="../../user/selfCenter1.php">
            <span class="person"></span>
        </a>

    </header>
    <div class="layout">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active" style="width: 414px;">
                    <img src="../../../images/zcbeijing.png">
                </div>
            </div>
        </div>

        <div class="info">
            <h2>财税无忧套餐——一般纳税人</h2>
            <p class="info-d"></p>
            <div class="price">
                <span class="title">价格：</span>
                <span class="num" id="saleprice">6500元</span>

                <!-- 暂无价格 显示 S -->
                <!-- <span class="dis">暂无价格</span> -->
                <!-- 暂无价格 显示 E -->
            </div>
            <div class="type">
                <span class="title">套餐包含服务:</span>
                <div class="list">
                    <ul>
                        <li>
                            <a href="/product/item/info/id/167_3304_154.html">分公司注册</a>
                        </li>
                        <li>
                            <a href="/product/item/info/id/166_3304_154.html">个人独资企业注册</a>
                        </li>
                        <li>
                            <a href="/product/item/info/id/165_3304_154.html">合伙企业注册</a>
                        </li>
                        <li>
                            <a href="/product/item/info/id/164_3304_154.html">外商独资公司注册</a>
                        </li>
                        <li class="active">
                            <a href="/product/item/info/id/1_3304_154.html">有限责任公司注册</a>
                        </li>
                    </ul>
                </div>
            </div>
             
            <hr>
            <div class="area">
                <span class="title">地区</span>
                <span class="text">
                    上海-上海市-金山区 </span>
                <div class="change js-change-area">
                    <span>更换</span>
                    <img src="../../../images/product_jiantou.png" alt="">
                </div>
            </div>
            <hr class="line">
            <div class="provider" id="selectprovider">
                <span class="title">服务者</span>
                <div class="text" id="recommend-provider1">
                    <img src="../../../images/product_kf.png">
                    <span>
                        李四</span>
                </div>
                <a class="change js-change-provider" href="#">
                    <span>更换</span>
                    <img src="../../../images/product_jiantou.png" alt="">
                </a>
            </div>

            <input type="hidden" id="isneedarea" value="2">
            <input type="hidden" id="currentcity" value="3304">
            <input type="hidden" id="currentcttitle" value="上海市">
            <input type="hidden" id="currentarea" value="154">
            <input type="hidden" id="currentarartitle" value="金山区">
            <input type="hidden" id="productskuid" value="18518">
            <input type="hidden" id="productsalesattrid" value="1">
            <input type="hidden" id="productid" value="1">

            <input type="hidden" id="providercurrentpage" value="1">
            <input type="hidden" id="currentproductskuid" value="">
            <input type="hidden" id="currentproviderid" value="2356">

        </div>

        <div class="evaluate js-evaluationlist">
            <div class="title">
                <span class="head">用户评价</span>
                <div class="good">
                    <span class="name">好评率:</span>
                    <span class="rate js-evaluationrate">98.1%</span>
                </div>
                <a class="num js-evaluationnum" href="#">4564条评价 &gt;</a>
            </div>
           
            <div id="evaluation-list">
                <!-- 评价详情    -->  
                <div class="item">
                   
                    <div class="infos">
                        <ul class="stars">
                            <li>
                                <span></span>
                            </li>
                            <li>
                                <span></span>
                            </li>
                            <li>
                                <span></span>
                            </li>
                            <li>
                                <span></span>
                            </li>
                            <li>
                                <span></span>
                            </li>
                        </ul>
                        <span class="name">公司注册（自定义）(上海-杨浦区)</span>
                        <span class="date">2018.04.24</span>
                    </div>
                    <div class="comment">
                         <p class="content">
                        速度很快很专业，好评！ </p>
                        <div class="tips">
                        <span>服务态度好</span>
                            <span>办事效率高</span>
                            <span>响应速度快</span>
                            <span>专业程度高</span>
                            <span>服务周到</span>
                            <span>主动热情</span>
                            <span>很有亲和力</span>
                            <span>实用高效</span>
                            <span>前途无量</span>
                            <span>人美声音甜</span>
                        </div> 
                  </div> 
                </div>
                <hr>
            </div> 
        </div>

        <div class="intro">
            <style>
                .relative {
                    position: relative;
                }

                .mode {
                    position: absolute;
                    width: 33.33%;
                    height: 25vh;
                    float: left;
                }

                .mode a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                .top-btn {
                    position: absolute;
                    width: 100px;
                    height: 40px;
                    display: block;
                    left: 40px;
                    top: -2525px;
                }
            </style>
            <div align="center">
                <img src="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/product/detail/image/2018-04/20180418134258_81210.jpg?x-oss-process=style/big"
                    alt="">
                <img src="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/product/detail/image/2018-04/20180418134303_78587.jpg?x-oss-process=style/big"
                    alt="">
                <img src="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/product/detail/image/2018-04/20180418134308_96371.jpg?x-oss-process=style/big"
                    alt="">
                <img src="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/product/detail/image/2018-04/20180418134313_12704.jpg?x-oss-process=style/big"
                    alt="">
                <img src="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/product/detail/image/2018-04/20180418134318_38879.jpg?x-oss-process=style/big"
                    alt="">
                <img src="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/test/product/detail/image/2018-01/20180115115325_37336.jpg?x-oss-process=style/big"
                    alt="">
            </div>
            <div class="relative">
                <div class="mode" style="left:0;top:-56vh;">
                    <a href="http://m.kuaifawu.com/productinfo/61" target="_blank"></a>
                </div>
                <div class="mode" style="left:33.33%;top:-56vh;">
                    <a href="http://m.kuaifawu.com/productinfo/2" target="_blank"></a>
                </div>
                <div class="mode" style="right:0;top:-56vh;">
                    <a href="http://m.kuaifawu.com/productinfo/10" target="_blank"></a>
                </div>
                <div class="mode" style="left:19%;top:-29vh;">
                    <a href="http://m.kuaifawu.com/productinfo/54" target="_blank"></a>
                </div>
                <div class="mode" style="left:52%;top:-29vh;">
                    <a href="http://m.kuaifawu.com/productinfo/277" target="_blank"></a>
                </div>
            </div>
        </div>

  
    </div>
    <footer class="">
            <!-- 不支持时 给footer 添加 .disabled -->
        <a href="javascript:;" class="freecall realcall">免费电话咨询</a>
        <a href="#" class="buys">购买服务</a>
    </footer>
</body>

</html>