<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, ,initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司注册-关联推荐</title>
    <link rel="stylesheet" href="../../css/order/count.css">
    <script type="text/javascript" src="../../js/common/reset.js"></script>
</head>

<body>
    <header>
        <a href="../index.html">
            <span class="home"></span>
        </a>
        <a href="#">
            <span class="title"></span>
        </a>

        <a href="../user/selfCenter.html">
            <span class="person"></span>
        </a>

    </header>
    <div class="layout">
        <form id="relate-form" action="/product/item/settle.html" method="post">
            <input type="hidden" value="18518" name="data[productskuid][]" data-price="499">
            <input type="hidden" value="501" name="data[providerid][]">
            <input type="hidden" value="499.00" name="data[saleprice][]">
            <div class="choosed">
                <div class="title">
                    已选服务：
                </div>
                <div class="name">
                    <span class="l-name">公司注册（有限责任公司注册）</span>
                    <span class="r-money">￥499</span>
                </div>
                <div class="infos">
                    <span>地区：上海-金山区</span>
                    <span>服务者：胡桃林</span>
                    <img src="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/000/501/501.jpg?x-oss-process=style/60-60">
                </div>
            </div>
            <div class="other">
                <h2>你可能还需要以下服务：</h2>
                <div class="item">
                    <div class="i-title">
                        <h3>选择注册地址</h3>
                        <span id="total-142"></span>
                    </div>
                    <p class="i-p">一个商用的地址是注册公司的必备条件</p>
                    <div class="i-btn">
                        <ul>
                            <li class="js-relate-btn " data-productrelateid="142" data-productsalesattrid="281" data-providerid="501" data-realname="胡桃林"
                                data-avatar="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/000/501/501.jpg?x-oss-process=style/210-auto"
                                data-issocialsecurity="0" data-productskuid="14940" data-areatitle="上海-金山区" data-relateproductsalesattrtitle="请为我提供普通注册地址"
                                data-saleprice="0" data-selectmore="0">
                                <a href="javascript:;">请为我提供普通注册地址</a>
                            </li>
                            <li class="js-relate-btn active" data-productrelateid="142" data-productsalesattrid="283" data-providerid="" data-realname=""
                                data-avatar="" data-issocialsecurity="0" data-productskuid="" data-areatitle="" data-relateproductsalesattrtitle="使用自己的地址"
                                data-saleprice="" data-selectmore="0">
                                <a href="javascript:;">使用自己的地址</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="item">
                    <div class="i-title">
                        <h3>选择会计服务</h3>
                        <span id="total-143"></span>
                    </div>
                    <p class="i-p">法律规定，每个公司都需要一名具有从业资格证的会计记账报税</p>
                    <div class="i-btn">
                        <ul>
                            <li class="js-relate-btn active" data-productrelateid="143" data-productsalesattrid="287" data-providerid="" data-realname=""
                                data-avatar="" data-issocialsecurity="0" data-productskuid="" data-areatitle="" data-relateproductsalesattrtitle="我有自己的会计"
                                data-saleprice="" data-selectmore="0">
                                <a href="javascript:;">我有自己的会计</a>
                            </li>
                            <li class="js-relate-btn " data-productrelateid="143" data-productsalesattrid="286" data-providerid="501" data-realname="胡桃林"
                                data-avatar="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/000/501/501.jpg?x-oss-process=style/210-auto"
                                data-issocialsecurity="0" data-productskuid="19820" data-areatitle="上海-金山区" data-relateproductsalesattrtitle="一年记账服务（一般纳税人）"
                                data-saleprice="6000" data-selectmore="0">
                                <a href="javascript:;">一年记账服务（一般纳税人）</a>
                            </li>
                            <li class="js-relate-btn " data-productrelateid="143" data-productsalesattrid="285" data-providerid="501" data-realname="胡桃林"
                                data-avatar="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/000/501/501.jpg?x-oss-process=style/210-auto"
                                data-issocialsecurity="0" data-productskuid="8659" data-areatitle="上海-金山区" data-relateproductsalesattrtitle="三个月记账服务"
                                data-saleprice="900" data-selectmore="0">
                                <a href="javascript:;">三个月记账服务</a>
                            </li>
                            <li class="js-relate-btn " data-productrelateid="143" data-productsalesattrid="284" data-providerid="501" data-realname="胡桃林"
                                data-avatar="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/000/501/501.jpg?x-oss-process=style/210-auto"
                                data-issocialsecurity="0" data-productskuid="19173" data-areatitle="上海-金山区" data-relateproductsalesattrtitle="一年记账服务"
                                data-saleprice="2800" data-selectmore="0">
                                <a href="javascript:;">一年记账服务</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>

            </div>
        </form>
    </div>
        <!--右侧悬浮工具条   
        <div class="m-customer">
            <a href="tel:62129799">
                <div class="customer-icon-1"></div>
                 
            </a>
            <a  href="javascript:;" onclick="openZixun();">
                <div class="customer-icon-2"></div> 
            </a>
        </div>
         右侧悬浮工具条  end-->
    <footer>
        <span class="total">应付:
            <em id="totalprice">￥499</em>
        </span>
        <a href="javascript:;" class="gosettle js-gosettle">去结算</a>
    </footer>
</body>

</html>