.eb-title {
	height: 68px;
	text-align: center;
	background-color: #fff;
}

.eb-title a {
	display: inline-block;
	font-size: 20px;
	color: #000;
	height: 68px;
	line-height: 68px;
}

.eb-title a.bottom {
	border-bottom: 3px solid #72bafd;
}
 

.eb-body {
	/*height: 950px;*/
	padding: 20px;
	padding-top: 40px !important;
}

label {
	float: left;
	height: 33px;
	line-height: 33px;
}

.item {
	width: 330px;
	height: 276px;
	float: left;
	position: relative;
	margin-right: 54px;
}

.addImg {
	width: 330px;
	height: 276px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	cursor: pointer;
}

.preview,
.preBlock {
	position: absolute;
	display: block;
	width: 330px;
	height: 276px;
	left: 0;
	top: 0;
}

.delete {
	width: 30px;
	position: absolute;
	right: -30px;
	top: -15px;
	cursor: pointer;
	display: none;
}

.preBlock img {
	display: block;
	width: 330px;
	height: 276px;
}

.upload_input {
	display: block;
	width: 0;
	height: 0;
	-webkit-opacity: 0.0;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0.0;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0.0;
	/* IE9 + etc...modern browsers */
	opacity: .0;
	/* IE 4-9 */
	filter: alpha(opacity=0);
	/*This works in IE 8 & 9 too*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/*IE4-IE9*/
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.btn-info {
	width: 80px;
	height: 40px;
	line-height: 32px;
}

.btn-success {
	width: 80px;
	height: 40px;
	line-height: 32px;
}


/*按钮的样式  S*/

.testswitch {
	position: relative;
	float: left;
	width: 110px;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.testswitch-checkbox {
	display: none;
}

.testswitch-label {
	display: block;
	width: 80px;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #dadada;
	border-radius: 20px;
}

.testswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.testswitch-inner::before,
.testswitch-inner::after {
	display: block;
	float: right;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.testswitch-inner::after {
	content: attr(data-on);
	padding-left: 10px;
	background-color: #00e500;
	color: #FFFFFF;
}

.testswitch-inner::before {
	content: attr(data-off);
	padding-right: 10px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right;
}

.testswitch-switch {
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	margin: 4px;
	background: #FFFFFF;
	top: 1px;
	right: 54px;
	border: 2px solid #999999;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked+.testswitch-label .testswitch-inner {
	margin-left: 0;
}

.testswitch-checkbox:checked+.testswitch-label .testswitch-switch {
	right: 26px;
}
 

/*按钮的样式   E*/
.jian-area{
	font-size: 30px;
    color: #000;
    font-weight: bold; 
}
.add-area{
	font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-right: 12px;
}
.del-area{
	font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-right: 17px;
}
.add-ser{
	font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-right: 12px;
    line-height: 29px;
}
.del-ser{
	font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-right: 18px;
    line-height: 25px;
}
.add-SerPro{
	font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-right: 12px;
    line-height: 29px;
}
.del-SerPro{
	font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-right: 17px;
    line-height: 25px;
}