.header-img{
	width: 100%;
}
.layout{
	background-color: #f9fafd;
}
 
.layout .adv .adv-title p{
	font-size: 24px;
	color: #333;
	text-align: center;
	padding-top: 82px;
}
.layout .adv .adv-title .title-bottom{
	display: block;
	margin-top: 12px;
	margin-left: 570px;
	width: 41px;
	height: 3px;
	background-color: #fe9898;
}
.layout .adv .adv-one,.adv-two,.adv-three{
	display: inline-block; 
	width: 390px;
	height: 311px;
	padding-top: 70px;
}
.layout .adv .adv-one,.adv-two,.adv-three .ao-img{
	text-align: center;
}
.layout .adv .adv-one,.adv-two,.adv-three .ao-info{
	text-align: center;
}

.layout .adv .adv-one .aoi-title{
	font-size: 18px;
	color: #fb8040;
	margin-top: 18px;
	margin-bottom: 14px;
}
.layout .adv .adv-two .aoi-title{
	font-size: 18px;
	color: #2583e3;
	margin-top: 18px;
	margin-bottom: 14px;
}
.layout .adv .adv-three .aoi-title{
	font-size: 18px;
	color: #f7355b;
	margin-top: 18px;
	margin-bottom: 14px;
}
.layout .adv .adv-one,.adv-two,.adv-three .aoi-content1{
	font-size: 14px;
	color: #727171;
	line-height: 16px;
}
.layout .flow{
	height: 668px;
	background-color: #f9fafd;
	margin-bottom: 20px;
}
.layout .flow .f-title{
	height: 120px; 
}
.layout .flow .f-title p{
	font-size: 24px;
	color: #333;
	text-align: center;
	padding-top: 82px;
}
.layout .flow .f-title .title-bottom{
	display: block;
	margin-top: 12px;
	margin-left: 570px;
	width: 41px;
	height: 3px;
	background-color: #fe9898;
}
.layout .flow  .step{ 
	height: 240px;
	text-align: center;
	margin-top: 120px;
	position: relative;  
}
.layout .flow  .step div{
	display: inline-block; 
}
.layout .flow .step  .step2 {
	margin: 0 116px;
}
.layout .flow .step  .step3 {
	margin-right: 116px;
}
.layout .flow .step  .step1 img,.step2 img,.step3 img,.step4 img{
	-webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.layout .flow .step  .step1 img:hover,.step2 img:hover,.step3 img:hover,.step4 img:hover{
	transform: scale(1.2);
}
.layout .flow .step .step51{
	position: absolute;
	left: 280px;
	top:62px
}
.layout .flow .step .step52{
	position: absolute;
	left: 525px;
	top:62px
}
.layout .flow .step .step53{
	position: absolute;
	left: 773px;
	top:62px
}
.layout .flow .step .step51 img,.step52 img,.step53 img{
	width: 121px;
}
.layout .flow .step .step-tip{
	width: 1000px;
	margin-top: 10px;
}
.layout .flow .step .step-tip a{
	width: 216px; 
	display: inline-block;
	font-size: 18px;
	color: #444;
	text-align: left;
	 
}
.enterBtn{
	display: block;
	width: 200px;
	height: 48px;
	line-height: 48px;
	margin-top: 100px;
    margin-left: 500px;
	text-align: center;
	background-color: #f33521;
	font-size: 18px;
	color: #fff;
	border-radius: 25px;
	background-image: url(../serviceImg/enterbtn.png);
	background-repeat: no-repeat;
	background-position: 156px 13px;
}
