.main-header .nav-sub {
	width: 220px;
}

.nav-sub .nav-list {
	position: absolute;
	top: 40px;
	left: 0;
	width: 1180px;
	height: 438px;
}

.nav-sub .nav-list .nav {
	position: absolute;
	top: 1px;
	left: 0;
	z-index: 10;
	float: left;
	width: 220px;
    height: 463px;
	background-color: #000;
	opacity: 0.7;
}

.nav-sub .nav-list .nav ul li {
	position: relative;
	float: left;
	width: 100%;
	height: 66px;
	border-top: 1px solid rgba(255, 255, 255, .2);
	line-height: 71px;
	cursor: default!important;
}

.nav-sub .nav-list .nav ul li.active {
	border-bottom: 1px solid #de443c;
	border-left: 1px solid #de443c;
	background-color: #fff;
}

.nav-sub .nav-list .nav ul li.active h4 {
	color: #DE443C;
}

.nav-sub .nav-list .nav ul li>h4 {
	display: inline-block;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	cursor: default;
}

.nav-sub .nav-list .nav ul li>.right-arrow {
	position: absolute;
	top: 50%;
	right: 19px;
	display: inline-block;
	margin-top: -4.5px;
	width: 14px;
	height: 14px;
	background: url(../img/common/icon/arrowIcon.png) no-repeat;
}

.nav-sub .nav-list .nav ul li.active>.right-arrow {
	position: absolute;
	top: 50%;
	right: 19px;
	display: inline-block;
	margin-top: -4.5px;
	width: 14px;
	height: 14px;
	background: url(../img/common/icon/arrowIcon-0.png) no-repeat;
}

.nav-sub .nav-list .nav ul li>.icon-1,
.nav-sub .nav-list .nav ul li>.icon-2,
.nav-sub .nav-list .nav ul li>.icon-3,
.nav-sub .nav-list .nav ul li>.icon-4,
.nav-sub .nav-list .nav ul li>.icon-5,
.nav-sub .nav-list .nav ul li>.icon-6,
.nav-sub .nav-list .nav ul li>.icon-7 {
	display: inline-block;
	margin: 14px 16px 19px 33px;
	width: 20px;
	height: 24px;
	vertical-align: middle;
}

.nav-sub .nav-list .nav ul li>.icon-1 {
	background: url(../img/common/icon/icon-1.png) 2px 0px no-repeat;
	width: 26px;
}

.nav-sub .nav-list .nav ul li>.icon-2 {
	background: url(../img/common/icon/icon-2.png) 0px 2px no-repeat;
	width: 26px;
}

.nav-sub .nav-list .nav ul li>.icon-3 {
	margin-left: 30px;
	background: url(../img/common/icon/icon-3.png) no-repeat;
	width: 26px;
}

.nav-sub .nav-list .nav ul li>.icon-4 {
	width: 26px;
	background: url(../img/common/icon/icon-4.png) 5px 2px no-repeat;
}

.nav-sub .nav-list .nav ul li>.icon-5 {
	width: 26px;
	background: url(../img/common/icon/icon-5.png) 1px 0px no-repeat;
}

.nav-sub .nav-list .nav ul li>.icon-6 {
	width: 26px;
	background: url(../img/common/icon/icon-6.png) no-repeat;
}

.nav-sub .nav-list .nav ul li>.icon-7 {
	width: 26px;
	background: url(../img/common/icon/icon-7.png) 2px 0px no-repeat;
}

.nav-sub .nav-list .nav ul li.active>.icon-1 {
	background-image: url(../img/common/icon/icon-1-0.png);
}

.nav-sub .nav-list .nav ul li.active>.icon-2 {
	background-image: url(../img/common/icon/icon-2-0.png);
}

.nav-sub .nav-list .nav ul li.active>.icon-3 {
	background-image: url(../img/common/icon/icon-3-0.png);
}

.nav-sub .nav-list .nav ul li.active>.icon-4 {
	background-image: url(../img/common/icon/icon-4-0.png);
}

.nav-sub .nav-list .nav ul li.active>.icon-5 {
	background-image: url(../img/common/icon/icon-5-0.png);
}

.nav-sub .nav-list .nav ul li.active>.icon-6 {
	background-image: url(../img/common/icon/icon-6-0.png);
}

.nav-sub .nav-list .nav ul li.active>.icon-7 {
	background-image: url(../img/common/icon/icon-7-0.png);
}

.nav-sub .nav-list .nav-content {
	position: absolute;
	top: 1px;
	left: 220px;
	z-index: 10;
	width: 960px;
	height: 463px;
	border-right: 1px solid #DE443C;
	border-bottom: 1px solid #DE443C;
	background: #fff;
	 
}

.nav-sub .nav-list .nav-content .nav-content-item {
	padding-top: 40px;
	width: 660px;
}

.nav-sub .nav-list .nav-content .nav-content-item>li {
	float: left;
	width: 100%;
}

.nav-sub .nav-list .nav-content .nav-content-item>li>a {
	float: left;
	margin-right: 20px;
	color: #575757;
	font-size: 14px;
	line-height: 2;
}

.nav-sub .nav-list .nav-content .nav-content-item>li>div {
	float: left;
	padding: 25px 0;
	width: 475px;
	border-top: 1px solid #eaeaea;
}

.nav-sub .nav-list .nav-content .nav-content-item.li-thin>li>div {
	padding: 15px 0;
}

.nav-sub .nav-list .nav-content .nav-content-item a {
	float: left;
	margin-right: 27px;
	color: #666;
	font-size: 14px;
	line-height: 2.5;
}

.nav-sub .nav-list .nav-content .nav-content-item a:hover {
	color: #DE443C
}

.nav-sub .nav-list .nav-content .nav-content-item h5 {
	float: left;
	margin-top: 27px;
	margin-left: 47px;
	width: 112px;
	color: #666;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
}

.nav-sub .nav-list .nav-content .nav-content-item.li-thin h5 {
	margin-top: 16px;
}

.nav-sub .nav-list .nav-content .nav-content-item h5:hover {
	color: #de443c;
}

.nav-sub .nav-list .nav-content .nav-content-item .active {
	color: #e85555;
}

.nav-sub .nav-list .nav-content .nav-content-item .nav-one {
	border-top: none;
}

.nav-sub .nav-list .nav-content .nav-img-wrap {
	margin-top: 83px;
}

.nav-sub .nav-list .nav-content .nav-content-item-2 {
	padding-top: 18px;
	height: 437px;
	overflow: hidden;
    overflow-y: scroll;
}

.nav-sub .nav-list .nav-content .nav-content-item-2>li>div {
	padding: 18px 0;
}

.nav-sub .nav-list .nav-content .nav-content-item-2 h5 {
	float: left;
	margin-top: 22px;
	margin-left: 10px;
	width: 112px;
	color: #666;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
}

.nav-sub .nav-list .nav-content .nav-img-wrap-2 {
	overflow: hidden;
	width: 332px;
	height: 461px;
	border-left: 1px solid #e8e8e8;
	position: absolute;
	left: 628px;
	background-color: #fff;
    border-right: 1px solid #de443c;
}

.nav-sub .nav-list .nav-content .nav-img-wrap-2>ul {
	width: 100%
}

.nav-sub .nav-list .nav-content .nav-img-wrap-2 li {
	position: relative;
	width: 100%;
	height: 155px;
	border-top: 1px solid #e8e8e8;
	text-align: center
}

.nav-sub .nav-list .nav-content .nav-img-wrap-2 li>a {
	display: block;
	width: 100%;
	height: 100%
}

.nav-sub .nav-list .nav-content .nav-img-wrap-2 li>a img {
	max-width: 100%;
	vertical-align: middle
}

.lunhuan a {
	position: absolute;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
}

.indexFirst {
	position: relative;
	height: 438px;
}

.lunhuan {
	position: relative;
	width: 100%;
	height: 462px;
}

.lunhuancenter li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.lunhuan #lunhuanback {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 462px;
}

.lunhuan #lunhuanback p {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 462px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.lunhuan .lunhuan_main {
	position: relative;
	margin: 0 auto;
	width: 1180px;
	height: 396px;
}

#lunbonum {
	position: absolute;
	right: 20px;
	bottom: -42px;
	z-index: 5;
	height: 14px;
	line-height: 23px;
}

#lunbonum li {
	float: left;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	background: #000;
	opacity: .3;
	cursor: pointer;
	filter: alpha(opacity=30);
}

#lunbonum .lunboone,
#lunbonum li:hover {
	background: #fff;
	opacity: 1;
	cursor: pointer;
	filter: alpha(opacity=100);
}
.classify{
	position: relative;
}
