<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--设置web页在iPhone浏览器中展示的size-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <!--X-UA-Compatible 是针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--设置该web页是否能以全凭模式运行，默认情况下是在safari中全屏展示。在js中可以修改window.navigator.standalone变量来决定使用全屏效果-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--设置web页的工具栏样式-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--设置safari中展示网页时是否自动将数字识别为电话号码（点击可以拨号）。默认是yes，如果不需要则设置为no-->
    <meta name="format-detection" content="telephone=no">


    <title>XXXXX课堂 - XXXXX</title>
    <link rel="stylesheet" href="../../css/article/index.css">
     
    <script type="text/javascript" src="../../js/common/reset.js"></script>
   
    
</head>

<body>
    <header>
        <a href="/">
            <span class="home"></span>
        </a>
        <a href="/">
            <span class="logo"></span>
        </a>

        <a href="../page/user/selfCenter.html">
            <span class="person"></span>
        </a>
    </header>
    <div class="layout padding-top">
        <h6>XXXXX课堂开课了！！！</h6>
    </div>
    <footer>
        <a href="../index.html">
            <div class="icon icon-1 "></div>
        </a>
        <!-- <a href="/product/item/productlist/pcid/info.php"> -->
        <a href="../product/product.php">
            <div class="icon icon-2"></div>
        </a>
        <a href="index.html">
            <div class="icon icon-3 "></div>
        </a>
        <a href="../user/selfCenter1.php">
            <div class="icon icon-4 "></div>
        </a>
    </footer>

</body>

</html>