
.layout {
    background-color: #f3f6f6;
    text-align: center;
    font-size: 0;
    background-size: cover;
    padding: 1rem 0rem 1.33333rem 0rem;
}

.layout .info {
    padding: 0.4rem 0rem 0.26667rem 0rem;
    margin-bottom: 0.26667rem;
    background-color: #ffffff;
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .info h2 {
    text-align: left;
    padding-left: 0.26667rem;
    margin-bottom: 0.33333rem;
    font-size: 0.34667rem;
    color: #666666;
}

.layout .info .detail {
    padding: 0rem 0.26667rem 0rem 0.26667rem;
}

.layout .info .detail ul li {
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .info .detail ul li span {
    display: inline-block;
    font-size: 0.37333rem;
    color: #666666;
    width: 2rem;
    text-align: left;
    vertical-align: middle;
    line-height: 0.93333rem;
}

.layout .info .detail ul li span em {
    color: #e85555;
}

.layout .info .detail ul li input {
    display: inline-block;
    width: 7.46667rem;
    vertical-align: middle;
    border: 0;
    line-height: 0.93333rem;
    font-size: 0.37333rem;
}

.layout .service {
    padding: 0.4rem 0rem 0.26667rem 0rem;
    margin-bottom: 0.26667rem;
    background-color: #ffffff;
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .service h2 {
    text-align: left;
    padding-left: 0.26667rem;
    margin-bottom: 0.2rem;
    font-size: 0.24rem;
    color: #666666;
}

.layout .service .item .i-title {
    text-align: left;
    padding: 0rem 0.53333rem 0.2rem 0.3rem;
}
 
.layout .service .item .i-title h3 {
    float: left;
    position: relative;
    display: inline-block;
    color: #333333;
    font-size: 0.3rem;
    font-weight: bold;
    line-height: 0.53333rem;
    max-width: 6.66667rem;
}

.layout .service .item .i-title .addbtn {
    float: right; 
}
.layout .service .item .i-title .addbtn em{
    font-size: 0.3rem;
    color: #de443c;
}
.layout .service .item .i-title .addbtn .fee{
    color: #de443c;
}
.layout .service .item .i-title .addbtn span {
    /* float: left;
    display: inline-block; */
    width: 0.8rem;
    height: 0.5rem;
    font-size: 0.3rem;
    line-height: 0.5rem;
    color: #666666;
    text-align: center;
}

.layout .service .item .i-info {
    text-align: left;
    padding: 0.1rem 0.53rem 0.3rem 0.3rem;
}

.layout .service .item .i-info span {
    margin-right: 0.4rem;
    font-size: 0.24rem;
    color: #999999;
    vertical-align: middle;
}

.layout .service .item .i-info span.m0 {
    margin-right: 0rem;
}

.layout .service .item .i-info span.fee {
    float: right;
    line-height: 0.66667rem;
    color: #e85555;
}

.layout .service .item .i-info img {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    vertical-align: middle;
}

.layout .service .item .i-info.top {
    padding-top: 0.3rem;
}

.layout .service .item .i-info.top span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.layout .service hr {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem; 
    border: 0rem solid #e0e0e0;
    height: 1px;
    background-color: #e0e0e0;
}

.layout .service hr.line {
    margin-top: 0;
}

.layout .coupon {
    text-align: left;
    background-color: #ffffff;
    /* border-top: 0.01467rem solid #d9d9d9;
    border-bottom: 0.01467rem solid #d9d9d9; */
}

.layout .coupon h2 {
    display: inline-block;
    margin-left: 0.53333rem;
    width: 5.33333rem;
    font-size: 0.4rem;
    line-height: 1.06667rem;
    vertical-align: top;
}

.layout .coupon .c-tip {
    text-align: right;
    display: inline-block;
    margin-right: 0.26667rem;
    width: 3.86667rem;
    font-size: 0.32rem;
    line-height: 1.06667rem;
    color: #999999;
    vertical-align: top;
}

.layout .coupon .list {
    margin: 0rem 0.5rem 0rem 0.5rem;
    font-size: 0.3rem;
}

.layout .coupon .list li {
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .coupon .list li a {
    line-height: 0.88rem;
    color: #333333;
}

.layout .coupon .list li a .num {
    color: #e85555;
}

.layout .coupon .list li a .dis {
    color: #999999;
}

.layout .coupon .list li a .right {
    float: right;
}

.layout .coupon .list li:last-child {
    border-bottom: none;
}
/*咨询悬浮框 S*/
.m-customer {
    position: fixed;
    z-index: 50;
    bottom: 3.4rem;
    right: 0;
    text-align: center;
    margin-right: 0.3rem;
   
}
.m-customer a:nth-of-type(1){
    height: 0.93rem;
    width: 0.76rem;
    line-height: 0.93rem;
    display: block;
    background: #f95b53;
    padding-top:0.17rem;
    -moz-border-top-left-radius: 0.1rem;
    -webkit-border-top-left-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    -moz-border-top-right-radius: 0.1rem;
    -webkit-border-top-right-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.m-customer a:nth-of-type(2){
    height: 0.93rem;
    width: 0.76rem;
    display: block;
    background: #f95b53;
    padding-top: 0.17rem;
    -moz-border-bottom-left-radius: 0.1rem;
    -webkit-border-bottom-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    -moz-border-bottom-right-radius: 0.1rem;
    -webkit-border-bottom-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}
.m-customer a .customer-icon-1 {
    width: 0.44rem;
    height: 0.52rem;
    background-image: url("../../images/common/home_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.m-customer a .customer-icon-2 {
    width: 0.48rem;
    height: 0.48rem;
    background-image: url("../../images/common/home_online.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.m-customer a .customer-txt {
    color: #f3f6f6;
    font-size: 0.26667rem;
    margin-top: 0.16rem;
}
/*咨询悬浮框 E*/