html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    background-color: #f3f6f6;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a,
a:hover,
a:hover,
a:visited {
    text-decoration: none;
}

img,
a,
a:hover,
a:active {
    border: none;
    outline: none;
}

button:visited {
    border: none;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    font-family: 'PingFangSC', 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    position: relative;
    background-color: #fff;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.layout {
    flex: 1;
}

footer {
    flex: 0;
}

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.hidden {
    display: none !important;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    height: 0.8rem;
    color: red;
    border-bottom: 0.01333rem solid #d9d9d9;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 100;
}

header a {
    display: inline-block;
    font-size: 0.16rem;
}

header a .area {
    line-height: 0.26667rem;
}

header a .area span {
    font-size: 14px;
    vertical-align: middle;
    color: #333333;
}

[data-dpr="2"] header a .area span {
    font-size: 28px;
}

[data-dpr="3"] header a .area span {
    font-size: 42px;
}
header a .logo {
    display: inline-block; 
    vertical-align: middle;
    width: 1.4rem;
    height: 0.6rem;
    background: url(../../images/common/home_top_icon.png) no-repeat;
    background-size: contain;
}
header a .home {
    display: inline-block;
    margin-left: -0.13333rem;
    vertical-align: middle;
    width: 0.49rem;
    height: 0.4rem;
    background: url(../../images/common/home-top-left.png) no-repeat;
    background-size: contain;
}

header a .person {
    display: inline-block;
    vertical-align: middle;
    width: 0.36rem;
    height: 0.4rem;
    background: url(../../images/common/home-top-right.png) no-repeat;
    background-size: contain;
}

header a .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.4rem;
    color: #333333;
    max-width: 7.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*咨询悬浮框 S*/
.m-customer {
    position: fixed;
    z-index: 50;
    bottom: 1.6rem;
    right: 0;
    text-align: center;
    margin-right: 0.1rem;
   
}
.m-customer a:nth-of-type(1){
    height: 0.93rem;
    width: 0.76rem;
    line-height: 0.93rem;
    display: block;
    background: #f95b53;
    padding-top:0.17rem;
    -moz-border-top-left-radius: 0.1rem;
    -webkit-border-top-left-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    -moz-border-top-right-radius: 0.1rem;
    -webkit-border-top-right-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.m-customer a:nth-of-type(2){
    height: 0.93rem;
    width: 0.76rem;
    display: block;
    background: #f95b53;
    padding-top: 0.17rem;
    -moz-border-bottom-left-radius: 0.1rem;
    -webkit-border-bottom-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    -moz-border-bottom-right-radius: 0.1rem;
    -webkit-border-bottom-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}
.m-customer a .customer-icon-1 {
    width: 0.44rem;
    height: 0.52rem;
    background-image: url("../../images/common/home_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.m-customer a .customer-icon-2 {
    width: 0.48rem;
    height: 0.48rem;
    background-image: url("../../images/common/home_online.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.m-customer a .customer-txt {
    color: #f3f6f6;
    font-size: 0.26667rem;
    margin-top: 0.16rem;
}
/*咨询悬浮框 E*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.08rem;
    border-top: 0.01rem solid #d9d9d9;
    background: #ffffff;
    display: flex;
    align-items: center;
    z-index: 999;
}

footer a {
    display: inline-block;
    width: 25%;
    text-align: center;
}

footer a .icon {
    margin: 0.14667rem auto 0rem auto;
}

footer a .icon.icon-1 {
    width: 0.61333rem;
    height: 1.04rem;
    background: url("../../img/home/home_bar1_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-2 {
    width: 0.54667rem;
    height: 0.97333rem;
    background: url("../../img/home/home_bar2_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-3 {
    width: 0.54667rem;
    height: 1.05333rem;
    background: url("../../img/home/home_bar3_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-4 {
    width: 0.58667rem;
    height: 1.04rem;
    background: url("../../img/home/home_bar4_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-1 {
    width: 0.61333rem;
    height: 1.04rem;
    background: url("../../img/home/home_bar1_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-2 {
    width: 0.54667rem;
    height: 0.97333rem;
    background: url("../../img/home/home_bar2_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-3 {
    width: 0.54667rem;
    height: 1.05333rem;
    background: url("../../img/home/home_bar3_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-4 {
    width: 0.58667rem;
    height: 1.04rem;
    background: url("../../img/home/home_bar4_sel.png") no-repeat;
    background-size: cover;
}

footer {
    border: none;
}

footer .total {
    display: inline-block;
    width: 6.33333rem;
    height: 1.08rem;
    line-height: 1.08rem;
    text-align: right;
    font-size: 0.26rem;
    color: #565656;
    border-top: 0.02rem solid silver;
}

footer .total em {
    margin-right: 0.26rem;
    font-size: 0.3rem;
    color: #de443c;
}

footer .gosettle {
    font-size: 0.3rem;
    height: 1.08rem;
    line-height: 1.08rem;
    width: 2.5rem;
    background-color: #de443c;
    color: #ffffff;
}

.weui-loading-wrap {
    display: block;
    opacity: 1;
}

.weui-loading-wrap .weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.weui-loading-wrap .weui-toast {
    position: fixed;
    z-index: 5000;
    width: 3.24rem;
    min-height: 3.24rem;
    top: 4.8rem;
    left: 50%;
    margin-left: -1.62667rem;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 0.1rem;
    color: #FFFFFF;
}

.weui-loading-wrap .weui-toast .weui-icon_toast {
    width: 0.54667rem;
    height: 0.54667rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: weuiLoading 1s steps(12, end) infinite;
    animation: weuiLoading 1s steps(12, end) infinite;
    background-size: 100%;
}

.weui-loading-wrap .weui-toast .weui-icon_toast.weui-loading {
    margin: 0.8rem 0rem 0rem 0rem;
    width: 1.01333rem;
    height: 1.01333rem;
    vertical-align: baseline;
}


.weui-loading-wrap .weui-toast .weui-toast__content {
    margin: 0.21333rem 0rem 0.4rem 0rem;
    font-size: 0.4rem;
}

@-webkit-keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.layout {
    background-color: #f3f6f6;
    text-align: center;
    font-size: 0;
    background-size: cover;
    padding: 0.68rem 0rem 1.3rem 0rem;
}

.layout .txt {
    font-size: 0.34667rem;
}

.layout .method {
    text-align: left;
    background-color: #ffffff;
    margin-top: 0.3rem;
    border-top: 0.01rem solid #d9d8d8;
    border-bottom: 0.01rem solid #d9d8d8;
}

.layout .method ul {
    /* margin: 0rem 0.26667rem 0rem 0.4rem; */
    font-size: 0.37333rem;
}

.layout .method ul li {
    border-bottom: 0.01467rem solid #d9d8d8;
    padding-left: 0.4rem;
}

.layout .method ul li label {
    /* display: inline-block; */
    height: 1rem;
    line-height: 1rem;
    color: #1d1d1d;
    width: 7rem;
 
}
 
.layout .method ul li label .rad {
    /* -webkit-appearance: none; */
    width: 0.4rem;
    height: 0.4rem;
    margin: 0rem;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.2rem;
     
    display: inline-block;
    vertical-align: middle;
    /* background: url('../../images/common/tick.png')  no-repeat; */
    background-size: contain;
}

.layout .method ul li label .check {
    width: 0.3rem;
    height: 0.3rem;
    margin: 0rem 0rem 0rem 0rem;
    display: inline-block;
    vertical-align: middle;
}

.layout .method ul li label img {
    display: inline-block;
    vertical-align: middle;
    height: 0.66rem;
    width: 0.66rem;
    margin-right: 0.32rem;
}

.layout .method ul li label span {
    display: inline-block;
    vertical-align: middle;
    width: 5.2rem;
    font-size: 0.3rem;
    color: #1d1d1d;
}
.layout .method ul li label input[type='checked']{
     width: 0.44rem;
     height: 0.44rem;
     border-radius: 50%;
}
 
input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
}

input[type=radio]:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 3px solid #c4cad2;
    background-color: #fff;
    box-sizing: border-box;
}

input[type=radio]:checked:after {
    content: "L";
    transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
    -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
    border-color: #DE443C;
    background-color: #de443c;
}