html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    background-color: #f3f6f6;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a,
a:hover,
a:hover,
a:visited {
    text-decoration: none;
}

img,
a,
a:hover,
a:active {
    border: none;
    outline: none;
}

button:visited {
    border: none;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    font-family: 'PingFangSC', 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    position: relative;
    background-color: #fff;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.layout {
    flex: 1;
}

footer {
    flex: 0;
}

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.hidden {
    display: none !important;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    height: 0.8rem;
    color: red;
    border-bottom: 0.01333rem solid #d9d9d9;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 100;
}

header a {
    display: inline-block;
    font-size: 0.16rem;
}

header a .area {
    line-height: 0.26667rem;
}

header a .area span {
    font-size: 14px;
    vertical-align: middle;
    color: #333333;
}

[data-dpr="2"] header a .area span {
    font-size: 28px;
}

[data-dpr="3"] header a .area span {
    font-size: 42px;
}

header a .area .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0.26667rem;
    height: 0.16rem;
    background: url(../img/home/home_top_xjt.png) no-repeat;
    background-size: contain;
}

header a .logo {
    display: inline-block;
    margin-left: -0.2rem;
    vertical-align: middle;
    width: 2.36rem;
    height: 0.42667rem;
    background: url(../img/home/home_top_icon.png) no-repeat;
    background-size: contain;
}

header a .shopcart {
    display: inline-block;
    vertical-align: middle;
    width: 0.49333rem;
    height: 0.48667rem;
    background: url(../img/home/home_top_shopcar.png) no-repeat;
    background-size: contain;
}

header a .home {
    display: inline-block;
    margin-left: -0.13333rem;
    vertical-align: middle;
    width: 0.49rem;
    height: 0.4rem;
    background: url(../../images/common/home-top-left.png) no-repeat;
    background-size: contain;
}

header a .person {
    display: inline-block;
    vertical-align: middle;
    width: 0.36rem;
    height: 0.4rem;
    background: url(../../images/common/home-top-right.png) no-repeat;
    background-size: contain;
}


header a .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.4rem;
    color: #333333;
    max-width: 7.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*咨询悬浮框 S*/
.m-customer {
    position: fixed;
    z-index: 50;
    bottom: 1.6rem;
    right: 0;
    text-align: center;
    margin-right: 0.1rem;
   
}
.m-customer a:nth-of-type(1){
    height: 0.93rem;
    width: 0.76rem;
    line-height: 0.93rem;
    display: block;
    background: #f95b53;
    padding-top:0.17rem;
    -moz-border-top-left-radius: 0.1rem;
    -webkit-border-top-left-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    -moz-border-top-right-radius: 0.1rem;
    -webkit-border-top-right-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.m-customer a:nth-of-type(2){
    height: 0.93rem;
    width: 0.76rem;
    display: block;
    background: #f95b53;
    padding-top: 0.17rem;
    -moz-border-bottom-left-radius: 0.1rem;
    -webkit-border-bottom-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    -moz-border-bottom-right-radius: 0.1rem;
    -webkit-border-bottom-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}
.m-customer a .customer-icon-1 {
    width: 0.44rem;
    height: 0.52rem;
    background-image: url("../../images/common/home_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.m-customer a .customer-icon-2 {
    width: 0.48rem;
    height: 0.48rem;
    background-image: url("../../images/common/home_online.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.m-customer a .customer-txt {
    color: #f3f6f6;
    font-size: 0.26667rem;
    margin-top: 0.16rem;
}
/*咨询悬浮框 E*/
.layout {
    background-color: #f7f6fb;
    text-align: center;
    font-size: 0;
    background-size: cover;
    padding: 0.78rem 0rem 0rem 0rem;
}
.layout .title {
     
    font-size: 0.24rem;
    height: 0.7rem;
    line-height: 0.7rem;
    background: #f3f6f6;
    color: #666666;
    text-align: left;
    padding-left: 0.2rem;
}
.layout .provider{
    font-size: 0;
    height: 0.88rem;
    line-height: 0.88rem;
    background-color: #fff;
}
.layout .provider .provider_div{
    width: 2.2rem;
}
.layout .provider img{
    width: 0.64rem;
    height: 0.64rem;
    vertical-align: middle;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    
}
.layout .provider span{
    font-size: 0.3rem;
    height: 0.88rem;
    line-height: 0.88rem;
}
.layout .assess{
    margin: 0.22rem 0rem;
    background-color: #fff;
    font-size: 0.3rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
}
.layout .assess .assessName{
    margin-top: 0.1rem;
    height: 0.6rem;
    text-align: left;
    padding-left: 0.2rem;
}
.layout .assess .assessName span{
    line-height: 0.6rem;
}
.layout .assess .stars{
    list-style: none;
    overflow: hidden;
    display: inline-block;
    font-size: 0rem;
}
.layout .assess .stars li{
    display: inline-block;
    overflow: hidden;
    margin-left: 0.1rem;
}
.layout .assess .stars li a img{
    width: 0.26rem;
    height: 0.26rem;
}
.layout .assess .stars li span{
    width: 0.26rem;
    height: 0.26rem;
    background-image: url(../images/start_sc.png);
    background-size: cover;
    display: inline-block;
}
.layout .service{
    
    background: #fff;
     
}
.layout .service .serviceName{
    font-size: 0.3rem;
    text-align: left;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
}
.layout .service .tips{
    text-align: left;
    margin: 0rem 0.29rem 0.26rem 0.29rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.layout .service .tips span{
    font-size: 0.24rem;
    border: 1px solid #999;
    color: #999;
    margin: 0.1rem 0.1rem 0.1rem 0rem;
    padding: 0.14rem 0.1rem 0.14rem 0.1rem;
    display: inline-block;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.layout .service .tips span.active{
    font-size: 0.24rem;
    border: 1px solid #fd6353;
    color: #fd6353;
    margin: 0.1rem 0.1rem 0.1rem 0rem;
    padding: 0.14rem 0.1rem 0.14rem 0.1rem;
    display: inline-block;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.layout .comment{
    background-color: #fff;
}
.layout .comment textarea{
    width: 100%;
    min-height: 2.54rem;
    resize:none;
    padding: 0.2rem;
    outline: none;
    border: none;
}
.assess-submit{
    font-size: 0.36rem;
    width: 3.63rem;
    height: 0.86rem;
    margin-top: 0.26rem;
    background-color: #de443c;
    color: #ffffff;
    border: 0;
    -moz-border-radius: 0.06rem;
    -webkit-border-radius: 0.06rem;
    border-radius: 0.06rem;
}
 

 
 

 
