html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    background-color: #f3f6f6;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a,
a:hover,
a:hover,
a:visited {
    text-decoration: none;
}

img,
a,
a:hover,
a:active {
    border: none;
    outline: none;
}

button:visited {
    border: none;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    font-family: 'PingFangSC', 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    position: relative;
    background-color: #fff;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.layout {
    flex: 1;
}

footer {
    flex: 0;
}

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.hidden {
    display: none !important;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    height: 0.8rem;
    color: red;
    border-bottom: 0.01333rem solid #d9d9d9;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 100;
}

header a {
    display: inline-block;
    font-size: 0.16rem;
}

header a .area {
    line-height: 0.26667rem;
}

header a .area span {
    font-size: 14px;
    vertical-align: middle;
    color: #333333;
}

[data-dpr="2"] header a .area span {
    font-size: 28px;
}

[data-dpr="3"] header a .area span {
    font-size: 42px;
}

header a .area .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0.26667rem;
    height: 0.16rem;
    background: url(../img/home/home_top_xjt.png) no-repeat;
    background-size: contain;
}

header a .logo {
    display: inline-block;
    margin-left: -0.2rem;
    vertical-align: middle;
    width: 2.36rem;
    height: 0.42667rem;
    background: url(../img/home/home_top_icon.png) no-repeat;
    background-size: contain;
}

header a .shopcart {
    display: inline-block;
    vertical-align: middle;
    width: 0.49333rem;
    height: 0.48667rem;
    background: url(../img/home/home_top_shopcar.png) no-repeat;
    background-size: contain;
}

header a .home {
    display: inline-block;
    margin-left: -0.13333rem;
    vertical-align: middle;
    width: 0.49rem;
    height: 0.4rem;
    background: url(../images/common/home-top-left.png) no-repeat;
    background-size: contain;
}

header a .person {
    display: inline-block;
    vertical-align: middle;
    width: 0.36rem;
    height: 0.4rem;
    background: url(../images/common/home-top-right.png) no-repeat;
    background-size: contain;
}

header a .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.3rem;
    color: #333333;
    max-width: 7.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
}

/*咨询悬浮框 S*/
.m-customer {
    position: fixed;
    z-index: 50;
    bottom: 1.6rem;
    right: 0;
    text-align: center;
    margin-right: 0.1rem;
   
}
.m-customer a:nth-of-type(1){
    height: 0.93rem;
    width: 0.76rem;
    line-height: 0.93rem;
    display: block;
    background: #f95b53;
    padding-top:0.17rem;
    -moz-border-top-left-radius: 0.1rem;
    -webkit-border-top-left-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    -moz-border-top-right-radius: 0.1rem;
    -webkit-border-top-right-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.m-customer a:nth-of-type(2){
    height: 0.93rem;
    width: 0.76rem;
    display: block;
    background: #f95b53;
    padding-top: 0.17rem;
    -moz-border-bottom-left-radius: 0.1rem;
    -webkit-border-bottom-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    -moz-border-bottom-right-radius: 0.1rem;
    -webkit-border-bottom-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}
.m-customer a .customer-icon-1 {
    width: 0.44rem;
    height: 0.52rem;
    background-image: url("../../../images/common/home_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.m-customer a .customer-icon-2 {
    width: 0.48rem;
    height: 0.48rem;
    background-image: url("../../../images/common/home_online.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.m-customer a .customer-txt {
    color: #f3f6f6;
    font-size: 0.26667rem;
    margin-top: 0.16rem;
}
/*咨询悬浮框 E*/

.layout .evaluate .item .infos .stars {
    list-style: none;
    overflow: hidden;
    display: inline-block;
    font-size: 0rem;
}

.layout .evaluate .item .infos .stars li {
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    display: inline-block;
    overflow: hidden;
}

.layout .evaluate .item .infos .stars li span {
    width: 0.26rem;
    height: 0.26rem;
    background-image: url("../../../images/start_sc.png");
    background-size: cover;
    display: inline-block;
}

.layout .evaluate .item .tips span {
    font-size: 0.2rem;
    border:1px solid #fd6353;
    color: #fd6353;
    margin: 0.1rem 0.1rem 0rem 0rem;
    /* background-color: #fff; */
    padding: 0.14rem 0.1rem;
    display: inline-block;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
 
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown,
.arealist .shadow,
.modal .form-wrap {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

 
 

@-webkit-keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
 
.layout {
    background-color: #f3f6f6;
    text-align: center;
    font-size: 0;
    background-size: cover;
	padding: 0.8rem 0rem 0rem 0rem;
	position: relative;
}
.layout .bar {
	width: 100%;
	font-size: 0.28rem;
	background-color: #eeeeee;
	color: #565656;
	border-bottom: 0.01rem solid #eee;
	text-align: left; 
	position: fixed;
}

.layout .bar .back {
	display: inline-block;
	margin-left: 0.22rem;
	height: 0.68rem;
	line-height: 0.68rem;
}

.layout .bar .back a {
	color: #565656;
}

.layout .bar .total {
	display: inline-block;
	height: 0.68rem;
	line-height: 0.68rem;
	text-align: center;
	color: #565656; 
	padding: 0 2rem;
}
 /*评价列表 S*/
 
.layout .evaluate {
    padding-bottom: 0.1rem;
    background-color: #fff;
	border-bottom: 0.01rem solid #d9d9d9;
	margin-top: 0.6rem;
}
.layout .evaluate .item .content {
    text-align: left;
    /* width: 9.41333rem; */
    margin: 0em 0.2rem 0.2rem 0.28rem;
    color: #333333;
    font-size: 0.26rem;
    line-height: 0.4rem;
    word-wrap: break-word;
    word-break: break-all;
}
.layout .evaluate .item{
    padding-top: 0.2rem;
    margin-top: 0.2rem;
}

.layout .evaluate .item .infos {
	text-align: left;
	margin: 0.2rem 0.26rem 0.26rem 0.26rem;
}

.layout .evaluate .item .infos .name {
    width: 4rem;
    display: inline-block;
    font-size: 0.24rem;
    color: #666666;
    text-align: left;
    margin-left: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout .evaluate .item .infos .date {
    /* width: 2.05333rem; */
    font-size: 0.24rem;
    text-align: right;
    display: inline-block;
    color: #999999;
  
}
.layout .evaluate .item .comment{
    width: 6.68rem;
    background: #f7f7f7;
    margin: 0.22rem 0.42rem 0.34rem  0.42rem;
    padding-top: 0.2rem;
}

.layout .evaluate .item .tips {
    text-align: left;
    /* width: 9.41333rem; */
    margin: 0rem 0.29rem 0.26rem 0.29rem;
    padding-bottom: 0.2rem;
}

.layout .evaluate .item .reply {
    text-align: left;
    width: 9.41333rem;
    margin: 0rem 0.29333rem 0.26667rem 0.29333rem;
    padding: 0.26667rem 0.29333rem 0.26667rem 0.29333rem;
    font-size: 0.30667rem;
    line-height: 0.4rem;
    background-color: #eeeeee;
    color: #999999;
}

.layout .evaluate hr {
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    width: 7.04rem;
    border:0.02rem solid #eee;
    background-color: #eee;
}

.layout .evaluate hr.line {
    margin-top: 0;
}

.layout .intro {
    width: 100%;
    overflow: hidden;
    font-size: 0.36rem;
    border-top: 0.01467rem solid #d9d9d9;
    border-bottom: 0.01467rem solid #d9d9d9;
    background-color: #ffffff;
}

.layout .intro img {
    margin-bottom: 0.2rem;
    width: 100%;
}
