.container .mycenter{
	background: #F1F1F1;
}

.tip_title {
	height: 56px;
	line-height: 56px;
	font-size: 14px;
}
 
.myCont {
	width: 1010px;
	min-height: 532px;
	background: #fff;
	-moz-box-shadow:0px 0px 6px #bebdbd;
	-webkit-box-shadow:0px 0px 6px #bebdbd;
	box-shadow:0px 0px 6px #bebdbd;
}
.myCont .person-main-tab {
	height: 40px;
	line-height: 40px;
	background-color: #f8f8f8; 
}

.myCont .person-main-tab ul li {
	float: left;
}
 

.myCont .person-main-tab ul li a {
	display: block;
	padding: 0 25px;
	font-size: 14px;
	color: #757575;
	height: 39px;
}

.myCont .person-main-tab ul li.active a {
	background-color: #fff;
	padding: 0 24px;
	color: #DE443C;
	line-height: 40px;
	border-top:2px solid #DE443C;
}

.method-content .baseInfo{
	width: 404px; 
	margin: 62px 306px 104px 302px;
	text-align: center;
	
}
.method-content .baseInfo form{
	padding-left: 12px;
	padding-right: 12px;
}
.method-content .baseInfo .p-same{
	margin-bottom: 14px;
}
.method-content .baseInfo .centerInfo{
 	display: inline-block;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: right; 
}
/*无优惠券 S*/
.method-content .noCoupon{
	width: 380px;
	height: 286px;
	margin: 0 306px 206px 326px;
	padding: 40px 0px 36px 0px; 
}
.method-content .noCoupon img{
	height: 184px;
	text-align: center;
	margin-bottom: 30px; 
}
.method-content .noCoupon p{
	font-size: 12px;
	color: #818181;
	text-align: center;
}
/*无优惠券 E*/
/*可使用的优惠券 S*/
.useCoupon{
	padding: 13px 50px 50px 50px;
}
.useCoupon  li{
	float: left;
	margin-right: 23px;
	margin-top: 13px;
	margin-bottom: 13px;
}
.useCoupon .quan{
	display: inline-block;
	width: 280px;
	height: 96px; 
	border-radius: 4px;
	background-image: url(../../img/common/jampRed.png);
	background-repeat: no-repeat;
	-moz-box-shadow:0px 0px 6px #bebdbd;
	-webkit-box-shadow:0px 0px 6px #bebdbd;
	 box-shadow:0px 0px 6px #bebdbd;
}
.useCoupon .quan-count,.quan-site{
	display: inline-block;
	width:137px;
	
}
.useCoupon .quan-count .elem{
	font-size: 18px;
	color: #f95b53;
	margin-top: 34px;
	margin-left: 24px;
}
.useCoupon .quan-count  strong{
	font-size: 40px;
	color: #f95b53;
}
.useCoupon .quan-site .q-type{
	font-size: 14px;
	color: #f95b53;
	text-align: center;
	margin-bottom: 10px;
}
.useCoupon .quan-site .q-date{
	font-size: 12px;
	color: #989898;
	text-align: center;
}
/*可使用的优惠券 E*/
/*失效的优惠券 S*/
.loseCoupon{
	padding: 13px 50px 50px 50px;
}
.loseCoupon  li{
	float: left;
	margin-right: 23px;
	margin-top: 13px;
	margin-bottom: 13px;
}
.loseCoupon .quan{
	display: inline-block;
	width: 280px;
	height: 96px; 
	border-radius: 4px;
	background-image: url(../../img/common/jampGray1.png);
	background-repeat: no-repeat;
	-moz-box-shadow:0px 0px 6px #bebdbd;
	-webkit-box-shadow:0px 0px 6px #bebdbd;
	 box-shadow:0px 0px 6px #bebdbd;
}
.loseCoupon .quan-count,.quan-site{
	display: inline-block;
	width:137px;
	
}
.loseCoupon .quan-count .elem{
	font-size: 18px;
	color: #b6b6b6;
	margin-top: 34px;
	margin-left: 24px;
}
.loseCoupon .quan-count  strong{
	font-size: 40px;
	color: #b6b6b6;
}
.loseCoupon .quan-site .q-type{
	font-size: 14px;
	color: #b6b6b6;
	text-align: center;
	margin-bottom: 10px;
}
.loseCoupon .quan-site .q-date{
	font-size: 12px;
	color: #dadada;
	text-align: center;
}
/*失效的优惠券 E*/
 

 
