
/*百度logo合作*/
.main-header .logo-sub {
	float: left;
	margin: 26px 0 0 20px;
	padding-left: 20px;
	width: 300px;
	height: 32px;
	border-left: 1px solid #999;
	color: #999;
	font-size: 14px;
	line-height: 32px;  
}

.main-header .step {
	margin-top: 30px;
	border-radius: 10px;
}

.main-header .step ul li {
	position: relative;
	float: left;
	width: 160px;
	height: 5px;
	background-color: #ccc;
	color: #ccc;
}

.main-header .step ul li.step-start {
	border-radius: 10px 0 0 10px;
}

.main-header .step ul li.step-end {
	border-radius: 0 10px 10px 0;
}

.main-header .step ul li .step-num {
	position: absolute;
	left: 50%;
	margin: -9px 0 0 -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: url(../../img/product/circle-3.png) no-repeat\9;
	background-color: #ccc;
	background-color: transparent\9;
	color: #fff;
	text-align: center;
	font-weight: 700;
	line-height: 20px;
}

.main-header .step ul li .step-text {
	position: absolute;
	top: 15px;
	width: 100%;
	text-align: center;
}

.main-header .step ul li.done {
	background-color: #b2e7df;
	color: #b2e7df;
}

.main-header .step ul li.done .step-num {
	background: url(../../img/product/circle-1.png) no-repeat\9;
	background-color: #b2e7df;
	background-color: transparent\9;
}

.main-header .step ul li.doing {
	background-color: #00b095;
	color: #00b095;
}

.main-header .step ul li.doing .step-num {
	background: url(../../img/product/circle-2.png) no-repeat\9;
	background-color: #00b095;
	background-color: transparent\9;
}

.main-header .nav-sub {
	position: relative;
}

.main-header .nav-sub>a {
	float: left;
	display: inline-block;
	width: 220px;
	height: 40px;
	border-bottom: none;
	background: url(../../img/common/icon/navicon_new.png) 40px 10px no-repeat;
	color: #fff;
	text-align: center;
	font-size: 15px;
	line-height: 40px;
	cursor: default;
    background: #de443c;
}

.main-header .navs {
	margin-left: 10px;
	width: 940px;
}

.main-header .navs>a {
	position: relative;
	float: left;
	display: inline-block;
	margin: 0 5px;
	padding: 0 9px;
	height: 40px;
	color: #575757;
	font-size: 15px;
	line-height: 40px;
    
}

.main-header .navs>a:hover {
 	color: #de443c;
}

.main-header .navs span {
	padding-left: 22px;
	height: 40px;
	background: url(../../img/navicon_new.png) 0 -22px no-repeat;
	color: #666;
	font-weight: 700;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	line-height: 40px;
}

.main-header .navs .hot-new {
	position: absolute;
	top: 0;
	right: -3px;
	max-width: 100%;
	vertical-align: middle;
}
.breadcrumb {
	overflow: hidden;
	height: auto;
}

.breadcrumb li {
	margin: 15px 0;
}

.breadcrumb a,
.breadcrumb li {
	float: left;
	height: 56px;
	color: #666;
	font-size: 14px;
	line-height: 56px;
}

.breadcrumb .interval {
	width: 17px;
	text-align: center;
}

.breadcrumb .active {
	color: #989898;
}

.layout {
	background-color: #f1f2f6;
}

.u-header {
	height: 60px;
	background: #de443c;
}

.u-header h1 {
	margin: 14px 0;
}

.u-header h1 a {
	display: block;
	overflow: hidden;
	width: 299px;
	height: 32px;
	background: url(../../img/logo-white.png) 0 0 no-repeat;
	text-indent: -9999px;
}

.u-header .u-tab {
	margin-left: 80px;
	padding: 20px 0;
}

.u-header .u-tab ul li {
	float: left;
	margin-right: 50px;
}

.u-header .u-tab ul li a {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

.u-content {
	padding-top: 22px;
}

.u-content .u-nav {
	padding-left: 10px;
	width: 150px;
}

.u-content .u-nav ul {
	margin-bottom: 14px;
}

.u-content .u-nav ul li {
	position: relative;
	padding-left: 20px;
	height: 28px;
	line-height: 28px;
}

.u-content .u-nav ul li.u-nav-title {
	color: #333;
	font-size: 14px;
	line-height: 24px;
}

.u-content .u-nav ul li a {
	display: block;
	height: 28px;
	color: #666;
	text-align: left;
	font-size: 12px;
	line-height: 28px;
}

.u-content .u-nav ul li.active a {
	color: #de443c;
}

.u-content .u-panel {
	width: 1020px;
}

.u-content .u-panel .u-panel-title {
	margin-bottom: 8px;
	padding: 13px 20px;
}

.u-content .u-panel .u-panel-title h2 {
	color: #111;
	font-size: 12px;
}

.pagination {
	display: inline-block;
	margin: 20px 0;
	padding-left: 0;
	border-radius: 4px;
}

.pagination>li {
	float: left;
	display: inline-block;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	margin-left: 0;
}

.pagination>li a {
	display: block;
	margin-left: -1px;
	padding: 0 10px;
	min-width: 30px;
	border: 1px solid #eee;
	color: #666;
	text-align: center;
	line-height: 28px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
}

.pagination>li a:hover {
	border-color: #de443c;
	background-color: #de443c;
	color: #fff;
}

.pagination>li.active a {
	border-color: #de443c;
	background-color: #de443c;
	color: #fff;
}

.pagination>li.active a:hover {
	background-color: #de443c;
}

.pagination>li {
	display: block;
	height: 30px;
	color: #666;
	font-size: 14px;
	line-height: 30px;
}

.pagination>li input {
	display: inline-block;
	margin: 0 10px;
	padding: 0 5px;
	width: 30px;
	height: 30px;
	color: #666;
	vertical-align: top;
}

.pagination .m-l-10 {
	margin-left: 10px;
}

.pagination button {
	margin-left: 10px;
	width: auto;
	height: 30px;
	vertical-align: top;
	background: #de443c;
	-webkit-appearance: none;
	line-height: 28px;
	margin-right: 5px;
	color: #fff;
	border: none;
}

.pagination button:hover {
	background-color: #de443c;
}

.gress {
	padding: 20px 0 0 0;
}

.gress li.gress-li {
	position: relative;
	padding: 20px;
	border-left: 1px dotted gray;
}

.gress li.gress-li .pro {
	margin-top: -34px;
	line-height: 20px;
}

.gress li.gress-li .pro:before {
	position: absolute;
	top: -6px;
	left: -5px;
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #90a8bd;
	border-radius: 50%;
	background-color: #fff;
	content: '';
}

.gress li.gress-li.active .pro:before {
	border: 2px solid #27bc89;
	background-color: #27bc89;
}

.gress li.gress-li.border-color-white {
	border-color: #f9f9f9;
}

.u-header .u-tab {
	padding: 12px 0;
}

.u-header .u-tab ul li {
	position: relative;
	height: 36px;
	line-height: 36px;
}

.u-header .u-tab ul li.arrow-list ul {
	position: relative;
}

.u-header .u-tab ul li.arrow-list ul li {
	margin-right: 0;
	padding: 0 20px 0 16px;
	width: 111px;
	color: #f5f5f5;
}

.u-header .u-tab ul li.arrow-list ul li span {
	font-size: 14px;
	cursor: default;
}

.u-header .u-tab ul li.arrow-list ul li.list-top .icon-arrow {
	display: inline-block;
	margin-left: 6px;
	width: 9px;
	height: 6px;
	background: url(../../img/ucenter/userIcon.png) 0 -20px no-repeat;
	vertical-align: middle;
	-webkit-transition: transform .1s ease-in 0s;
	-moz-transition: transform .1s ease-in 0s;
	-o-transition: transform .1s ease-in 0s;
	transition: transform .1s ease-in 0s;
	-ms-transition: transform .1s ease-in 0s;
}

.u-header .u-tab ul li.arrow-list:hover ul li.list-top .icon-arrow {
	background-position: 0 -33px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.u-header .u-tab ul li.arrow-list:hover ul li.list-top {
	padding: 0 19px 0 15px;
	border: 1px solid #e0e0e0;
	border-bottom: 0;
	background-color: #fff;
	color: #333;
	line-height: 35px;
}

.u-header .u-tab ul li.arrow-list ul li.list {
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 100;
	display: none;
	padding: 5px 0 10px;
	width: 111px;
	height: auto;
	border: 1px solid #ddd;
	border-top: 0;
	background-color: #fff;
}

.u-header .u-tab ul li.arrow-list:hover ul li.list {
	display: block;
}

.u-header .u-tab ul li.arrow-list ul li.list a {
	display: block;
	padding-left: 14px;
	height: 32px;
	color: #666;
	line-height: 32px;
}

.u-header .u-tab ul li.arrow-list ul li.list a:hover {
	color: #de443c;
}

.nav-slide-bar {
	position: fixed;
	right: 0;
	bottom: 80px;
	z-index: 1000;
	width: 70px;
	height: auto; 
}
.nav-slide-bar li {
	width: 64px;
	height: 64px;  
	text-align: center;
	background-color: black;
}
.nav-slide-bar li:hover{
	background-color: #DE443C;
}
.nav-slide-bar li:first-child{
	border-bottom:none;
}
.nav-slide-bar li.chat{
	background: url(../../img/common/right_zx.png) no-repeat 16px 16px;
	background-color: #fff;
	margin-bottom: 4px;
	border-radius: 4px;
	box-shadow: 0 0px 9px #b8b8b7;
}
.nav-slide-bar li:hover.chat{ 
	background: url(../../img/common/right_hzx.png) no-repeat 16px 16px;
	background-color: #DE443C;
}
.nav-slide-bar li.chat a{
	line-height: 112px;
	color: #DE443C; 
}
 .nav-slide-bar li.chat  a:hover{
 	color: #fff; 
 }
.nav-slide-bar li.top{
	background: url(../../img/common/right_top.png) no-repeat 16px 20px;
	background-color: #fff;
	margin-bottom: 4px;
	border-radius: 4px;
	box-shadow: 0 0px 9px #b8b8b7;
}
.nav-slide-bar li:hover.top{ 
	background: url(../../img/common/right_htop.png) no-repeat 16px 20px;
	background-color: #DE443C;
}
 
.nav-slide-extend {
	position: absolute;
	top: 0;
	right: 81px;
	display: none;
	width: 334px;
	height: 280px;
	border: 1px solid #d5d5d5;
	border-radius: 6px;
	background-color: #fff;
}

.nav-slide-extend .title {
	height: 40px;
	border-radius: 10px 10px 0 0;
	background-color: #f5f5f5;
	color: #333;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
}

.nav-slide-extend .content .item a {
	display: inline-block;
	padding-top: 30px;
	width: 164px;
	height: 78px;
	background-color: #fff;
}

.nav-slide-extend .word {
	display: inline-block;
	width: 60px;
	text-align: left;
}

.nav-slide-extend .icon {
	display: inline-block;
	margin-right: 6px;
	width: 20px;
	height: 20px;
	background: url(../../img/slide.png) no-repeat scroll 0 0;
	vertical-align: middle;
}

.nav-slide-extend .icon-1 {
	background-position: -10px -174px;
}

.nav-slide-extend .icon-2 {
	background-position: -8px -284px;
}

.nav-slide-extend .icon-3 {
	background-position: -8px -202px;
}

.nav-slide-extend .icon-4 {
	background-position: -8px -230px;
}

.nav-slide-extend .icon-5 {
	background-position: -6px -256px;
}

.nav-slide-extend .icon-6 {
	background-position: -8px -308px;
}

.nav-slide-extend .item a:hover .icon-1 {
	background-position: -34px -174px;
}

.nav-slide-extend .item a:hover .icon-2 {
	background-position: -38px -284px;
}

.nav-slide-extend .item a:hover .icon-3 {
	background-position: -38px -202px;
}

.nav-slide-extend .item a:hover .icon-4 {
	background-position: -38px -230px;
}

.nav-slide-extend .item a:hover .icon-5 {
	background-position: -36px -256px;
}

.nav-slide-extend .item a:hover .icon-6 {
	background-position: -38px -308px;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

.border-right {
	border-right: 1px solid #ccc;
}

.slide-border {
	position: absolute;
	top: 0;
	right: -22px;
	display: inline-block;
	width: 22px;
	height: 277px;
	background: url(../../img/slideborder.png) no-repeat scroll left -28px;
}

.js-visible {
	display: block;
}

.word-green {
	color: #00c0bf!important;
}

.search-bar {
	margin: 24px 0 20px 0;
	border: 1px solid #de443c;
}

.search-bar .search-group {
	position: relative;
}

.search-bar .search-group span {
	display: inline-block;
	width: 102px;
	color: #666;
	text-align: center;
	font-size: 14px;
	line-height: 35px;
}

.search-bar .search-group ul {
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 100;
	display: none;
	width: 104px;
	border: 1px solid #de443c;
}

.search-bar .search-group ul li {
	display: inline-block;
	width: 102px;
	background-color: #f5f5f5;
	color: #666;
	text-align: center;
	font-size: 14px;
	line-height: 35px;
}

.search-bar .search-group ul li:hover {
	background-color: #eceaea;
	cursor: pointer;
}

.search-bar .search-group .icon-down {
	position: absolute;
	top: 50%;
	left: 102px;
	z-index: 200;
	display: inline-block;
	margin-top: -5px;
	margin-left: -18px;
	width: 10px;
	height: 10px;
	background: url(/static/img/icon-arrow.png) no-repeat scroll left 0;
}

.search-bar .search-content input {
	display: inline-block;
	margin: 6px 0;
	padding: 0px 10px 0px 20px;
	width: 342px;
	outline: 0;
	border: none;
	font-size: 14px;
	line-height: 24px;
}

.search-bar .search-content input:focus {
	border: none;
}

.search-bar .search-content .search-btn {
	float: right;
	display: inline-block;
	padding: 1px 7px;
	width: 80px;
	outline: 0;
	border: none;
	border-radius: 0;
	background-color: #de443c;
	color: #fff;
	text-align: center;
	line-height: 34px;
	margin: 0;
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: #999;
}

:-moz-placeholder {
	color: #999;
}

::-moz-placeholder {
	color: #999;
}

:-ms-input-placeholder {
	color: #999;
}

b {
	font-weight: 700;
}
/*底部样式 S*/
footer {
	position: relative;
	z-index: 2;
	font-size: 14px;

}
.reasons{
	background-color: #fff;
    padding: 17px 0;
}
.reasons .six-list-index ul{
    /*padding-top:28px;*/
}
.reasons .six-list-index li {
	float: left;
	text-align: center;
	width: 294px; 
}
.reasons .six-list-index li.second-li { 
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.reasons .six-list-index li.third-li  { 
	border-right: 1px solid #ddd;
}
.reasons .six-list-index li.first-li  .foot-icon{
	background: url(../../img/common/icon/priceIcon.png) no-repeat 6px 7px;
}
.reasons .six-list-index li.second-li  .foot-icon{
	background: url(../../img/common/icon/teamIcon.png) no-repeat center 7px;
}
.reasons .six-list-index li.third-li  .foot-icon{
	background: url(../../img/common/icon/speedicon.png) no-repeat center 7px;
}
.reasons .six-list-index li.fourth-li  .foot-icon{
	background: url(../../img/common/icon/yzsIcon.png) no-repeat center 7px;
}
.reasons .six-list-index li .teamIcon{
	margin-bottom: 2px !important;
}
.reasons .six-list-index li .foot-icon {
	width: 76px;
	height: 60px;
	display: inline-block;
}

.reasons .six-list-index li .foot-icon-title {
	color: #333;
	font-size: 16px;
	display: inline-block;
	text-align: left;
    margin-top: 16px;
}
.reasons .six-list-index li .foot-icon-title .ftitle-p{
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
    font-weight:bold;
	
}
.reasons .six-list-index li .foot-icon-title p{
	font-size: 10px;
	color: #999999;
	line-height: 15px;
}
footer .footer-container{
	width: 100%; 
	background-color: #32343a;
}
 
footer .footer-container .footer_link .link-lists {
	padding-top: 28px;
}
footer .footer-container .footer_link .link-lists li h5 {
	margin-bottom: 40px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
}
footer .footer-container .footer_link .link-lists li a {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	color: #aeafb0;
	font-size: 12px;
}
footer .footer-container .footer_link  .link-lists .l-five{
	margin-right: 150px;
}
footer .footer-container .footer_link  .link-lists  .l-zeo{
	margin-right: 50px;
}
footer .footer-container .footer_link  .link-lists li {
	float: left;
}
footer .footer-container .footer_link .bd{
	margin: 0px 40px 0 0;
    width: 1px;
    height: 112px;
    background: #484d50;
}
footer .footer-container .footer_link .link-th{
	margin: 30px 84px 0 0;
	
}
footer .footer-container .footer_link .link-th .tel{
	font-size: 30px;
	font-weight: bold;
	color: #aeafb0;
	margin-bottom: 20px;
}
footer .footer-container .footer_link .link-th p:last-child{
	font-size: 12px;
	text-align: center;
	color: #aeafb0;
}footer .footer-container .footer_link .link-code{
	display: inline-block;
	margin-right: 40px;
}
footer .footer-container .footer_link .link-code .code {
	width: 110px;
	height: 110px;
	background-image: url(../../img/index/wxCode.png);
	background-size: cover; 
	margin-bottom: 6px; 
	
}
footer .footer-container .footer_link .link-code .link-code-text{
	color: #9b9b9b;
	color: 12px;
}
footer .footer-container .footer_link .link-code .link-code-text p{
	margin-bottom: 6px;
	text-align: center;
}
footer .footer-container .footer_link .zfb-code{
	display: inline-block;
}
footer .footer-container .footer_link .zfb-code .code {
	width: 110px;
	height: 110px;
	background-image: url(../../img/index/zfbCode.png);
	background-size: cover; 
	margin-bottom: 6px;
}
footer .footer-container .footer_link .zfb-code .link-code-text{
	color: #9b9b9b;
	color: 12px;
}
footer .footer-container .footer_link .zfb-code .link-code-text p{
	margin-bottom: 6px;
	text-align: center;
}
 
footer .footer-inner {
	padding: 15px 0;
	border-top: 1px solid #484d50;
}

footer .footer-inner .copyright {
	margin: 0;
	padding: 0;
	border: none;
	color: #b5b5b5;
	font-size: 12px;
	line-height: 24px;
}
/*底部样式 E*/