/*头部样式  S*/
.personal-header{ 
    background-color: #fff;
}
.personal-header .my-logo,.my-main,.account-set {
	display: block; 
	float: left;
 	height: 88px;
 	line-height: 88px;
 	font-size: 20px;
}
.personal-header .my-logo{
	padding-top: 15px;
	margin-right: 180px;
}
.personal-header .my-main{
	margin-right: 84px;
}
.personal-header .my-main,.account-set{
	color: #282828;
}
.personal-header .my-main.active,.account-set.active{
	color: #DE443C;
	border-bottom: 2px solid #DE443C;
}
/*头部样式  E*/
/*左侧栏样式 S*/
.myMenu {
	width: 150px;
	margin-bottom: 104px;
	background: #fff;
	-moz-box-shadow:0px 0px 6px #bebdbd;
	-webkit-box-shadow:0px 0px 6px #bebdbd;
	 box-shadow:0px 0px 6px #bebdbd;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 147px;
}

.mycenter .order-ul {
	margin: 24px 0;
}

.myMenu ul li.first-title{
	background: url(../../img/index/about/Hcenter.png) no-repeat;
	background-position: 25px 6px;
}
.myMenu ul li.second-title{
	background: url(../../img/index/about/Horder.png) no-repeat;
	background-position: 25px 8px;
}
.myMenu ul li.third-title{
	background: url(../../img/index/about/Hserver.png) no-repeat;
	background-position: 25px 6px;
}
.myMenu ul  li.title a{
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.myMenu ul  li.active a{
	font-size: 14px;
	color: #DE443C;
}
.myMenu ul  li a{
	font-size: 14px;
	color: #818181;
	line-height: 28px;
}
.myMenu ul  li a:hover{
	color: #DE443C;
}
/*左侧栏样式  E*/