a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;font-family:arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
/*h5的标签转化为块级元素*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
a,
a:hover {
	outline: 0;
	text-decoration: none
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box
}

html {
	font-size: 12px
}

body {
	display: flex;
	min-height: 100vh;
	background-color: #F5F5F5;
	flex-flow: column
}

button {
	font-family: arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.layout {
	flex: 1;
	flex: auto\9
}
 .login-page{
	background: url(../image/serBanner.png) no-repeat;
	background-size: cover;
 }
 body {
    /**background: url(../image/serBanner.png) no-repeat;
	background-size: cover;**/
}

.Service-login { 
	margin-top: 216px;
	text-align: center;
}

.login-title {  
	margin-top: 15px;
	margin-bottom: 36px; 
}
 
.login-main {
    margin: 0 376px 0 352px; 
}

.shop-name,.login-name,
.login-pwd {
	margin-bottom: 20px; 
	opacity: 0.8;
}
.shop-name {
	width: 428px;
	height: 45px;
	position: relative;
	background-color: rgba(255, 255, 255, .5)
}

.shop-name .shopIcon {
	display: inline-block;
	position: absolute;
	background: url(../image/shop.png) no-repeat;
	width: 25px;
	height: 25px;
	top: 10px;
	text-align: left;
	left: 17px;
}

.shop-name .separate {
	position: absolute;
	width: 2px;
	height: 32px;
	background-color: #fff;
	top: 6px;
	left: 56px;
}

.shop-name input {
	width: 369px;
	height: 44px;
	outline: none;
	border: none;
	position: absolute;
	left: 58px;
	padding-left: 16px;
	/**background-color: transparent;**/
	font-size: 14px;
	color: #000 !important;
}
.login-name {
	width: 425px;
	height: 45px;
	position: relative;
	background-color: rgba(255, 255, 255, .5)
}

.login-name .userIcon {
	display: inline-block;
	position: absolute;
	background: url(../image/userIcon.png) no-repeat;
	width: 25px;
	height: 25px;
	top: 10px;
	text-align: left;
	left: 17px;
}

.login-name .separate {
	position: absolute;
	width: 2px;
	height: 32px;
	background-color: #fff;
	top: 6px;
	left: 56px;
}

.login-name input {
	width: 369px;
	height: 44px;
	outline: none;
	border: none;
	position: absolute;
	left: 58px;
	padding-left: 16px;
	/**background-color: transparent !important;**/
	font-size: 14px;
	color: #000;
}
.login-pwd {
	width: 427px;
	height: 45px;
	position: relative;
	background-color: rgba(255, 255, 255, .5)
}

.login-pwd .pwdIcon {
	display: inline-block;
	position: absolute;
	background: url(../image/pwdIcon.png) no-repeat;
	width: 25px;
	height: 25px;
	top: 10px;
	text-align: left;
	left: 17px;
}

.login-pwd .separate {
	position: absolute;
	width: 2px;
	height: 32px;
	background-color: #fff;
	top: 6px;
	left: 56px;
}

.login-pwd input {
	width: 369px;
	height: 44px;
	outline: none;
	border: none;
	position: absolute;
	left: 58px;
	padding-left: 16px;
	background-color: rgba(255, 255, 255, .5)
	font-size: 14px;
	color: #000;
}

.login-code{
	width: 425px;
	height: 45px;
	margin-bottom: 38px;
	background-color: transparent !important;
}
.login-code .codeText{
	display: inline-block;
	float: left;
	width: 241px;
	height: 45px;
	outline:none;
	padding-left: 17px;
	color: #000; 
	border: none;
	background-color: rgba(255, 255, 255, .8)
}
.login-code .codePicture{
	display: inline-block;
	float: right;
	width: 166px;
	height: 45px; 	
}
.login-sub {
	display: inline-block;
	width: 425px;
	height: 45px;
	background-color: #ff3366;
	font-size: 16px;
	line-height: 45px;
	color: #fff;
	text-align: center;
    outline: none;
    border: none;
}

input::input-placeholder {
	color: #fff;
}

input::-webkit-input-placeholder {
	color: #fff;
}

input:-moz-placeholder {
	color: #fff;
}

input::-moz-placeholder {
	color: #fff;
}

input:-ms-input-placeholder {
	color: #fff;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}