.bg-white{
	background-color: #fff !important;
}
.product {
	padding-bottom: 20px;
}

.product .product-item-preview {
	width: 400px;
	height: 403px;
}

.product .product-item-inner {
	width: 740px;
	margin-left: 40px;
	line-height: 30px;
	color: #b5b5b6;
	margin-top: -2px;
}

.product .product-item-inner .item-name {
	position: relative;
}

.product .product-item-inner h2 {
	font-size: 24px;
	color: #242424;
	font-weight: bold;
}

.product .product-item-inner p {
	padding: 2px 0 12px;
	font-size: 14px;
	color: #989898;
}

.product .product-item-inner .link-wx {
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
	width: 20px;
	height: 16px;
	/*background: url("../../img/product/productIcon.png") no-repeat;*/
	background-position: 0 -650px;
}

.product .product-item-inner .link-wx:hover {
	background-position: -30px -650px;
}

.product .product-item-inner .item-price {
	position: relative;
	margin: 10px 0 28px;
	padding: 8px 0 5px; 
	height: 42px;
    background-color: #f1f1f1;
}

.product .product-item-inner .item-price ul li {
	float: left;
	height: 36px;
}

.product .product-item-inner .item-price .item-title {
	width: 55px;
	height: 30px;
	text-align: right;
    font-size:14px;
    color:#989898;
}

.product .product-item-inner .item-price .item-fee {
	padding-left: 6px;
	font-size: 18px;
	color: #f24432;
	line-height: 30px;
}

.product .product-item-inner .item-price .item-fee font {
	padding-right: 2px;
	font-size: 18px;
    font-weight: bold;
}

.product .product-item-inner .item-price .item-price-logo {
	position: absolute;
	top: 12px;
	right: 30px;
	cursor: default;
}

.product .product-item-inner .item-price .item-price-logo i {
	display: inline-block;
	width: 16px;
	height: 19px;
	vertical-align: middle;
	margin-right: 6px;
	background: url("../../img/product/p.png") no-repeat;
}

.product .product-item-inner .item-price .item-price-note {
	position: absolute;
	width: 300px;
	left: -140px;
	font-size: 12px;
	padding: 10px;
	line-height: 2;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0 3px 5px #ccc;
	z-index: 100;
}

.product .product-item-inner .item-type {
	margin-bottom: 17px;
}

.product .product-item-inner .item-type ul li {
	float: left;
	height: 30px; 
	margin-right: 20px;
	margin-bottom: 10px;
	position: relative; 
}
.product .product-item-inner .item-type ul li.active b{
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../../img/product/icon/Selected.png) no-repeat;
	width: 22px;
	height: 20px;
	display: inline-block;
}
.product .product-item-inner .item-type .item-title {
	width: 55px;
	height: 30px;
	text-align: right;
	border: none;
}

.product .product-item-inner .item-type li a {
	display: block;
	padding: 0 10px;
	line-height: 30px;
	font-size: 12px;
	color: #4c4c4c;
	background-color: #f4f4f4;
	text-align: center; 
}

/*.product .product-item-inner .item-type li:hover a {
	color: #de443c;
	background-color: #fff;
    border:1px solid #de443c;
}

.product .product-item-inner .item-type li:hover {
	border-color: #e85555;
}*/

.product .product-item-inner .item-type ul li.active {
	background-color: #f95b53;
}

.product .product-item-inner .item-type li.active a {
	line-height: 28px;
	color: #de443c;
	background-color: #fff;
    border:1px solid #de443c;
}

.product .product-item-inner .item-type ul li .item-note {
	position: absolute;
	top: 29px;
	left: -1px;
	width: 235px;
	padding: 9px 6px 9px 13px;
	background-color: #fffbf1;
	border: #eaedec solid 1px;
	font-size: 12px;
	color: #858585;
	line-height: 14px;
	display: none;
	z-index: 2;
}

.product .product-item-inner .item-note .free-advice {
	display: inline-block; 
	width: 180px;
	height: 48px;
	border: 1px solid #f7aa5d;
	font-size: 18px;
	color: #f7aa5d;
	text-align: center;
	line-height: 48px;
	border-radius: 4px;
	margin: 24px 0 0 79px;
}

.product .product-item-inner .item-note .order-now {
	display: inline-block;
	margin-left: 30px;
	width: 180px;
	height: 48px;
	background-color: #de443c;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	border-radius: 4px;
	margin: 24px 0 0 50px;
}

.product .product-item-inner .item-note .order-now:hover {
	background-color: #be4747;
}

.product .product-item-inner .item-note .order-now.disabled {
	background-color: #b3b1b1;
}

.product .product-item-inner .item-note .order-now.blue {
	background-color: #007bc7;
}

.product .product-item-inner .item-area {
	padding-bottom: 30px;
}

.product .product-item-inner .item-area ul li {
	float: left;
	height: 30px;
	margin-right: 20px;
	margin-bottom: 10px;
	position: relative;
}
/*三级联动select 样式   S*/
.product .product-item-inner .item-area select{
	width:120px;
	font-size:12px;
	height: 30px;
	line-height:30px;
	border: 1px solid #dadada;
	color: #4c4c4c;
}

/*三级联动select 样式   E*/
.product .product-item-inner .item-area .item-title {
	width: 55px;
	height: 30px;
	text-align: right;
	border: none;
}

.product .product-item-inner .item-area .item-select {
	position: relative;
	padding-left: 12px;
	width: 172px;
	height: 30px;
	border: #e0e0e0 solid 1px;
	color: #757575;
	z-index: 1;
}

.product .product-item-inner .item-area .item-select.hover {
	border-color: #036db6;
	border-bottom: none;
}

.product .product-item-inner .item-area .item-error {
	position: absolute;
	left: 231px;
	top: 0;
	font-size: 14px;
	color: #e85555;
	max-width: 300px;
	width: 200px;
}

.product .product-item-inner .item-area .item-select-content {
	position: absolute;
	top: 29px;
	left: 0;
	border: #036db6 solid 1px;
	width: 330px;
	padding: 10px 12px 0;
	background-color: #fff;
	/*display: none;*/
	z-index: 100;
}

.product .product-item-inner .item-area .item-select-content .item-tab li {
	width: 77px;
	float: left;
	margin: 0;
	height: 25px;
}

.product .product-item-inner .item-area .item-select-content .item-tab li a {
	display: block;
	height: 25px;
	line-height: 25px;
	color: #757575;
	text-align: center;
	position: relative;
	z-index: 1;
}

.product .product-item-inner .item-area .item-select-content .item-tab li a i {
	display: inline-block;
	width: 7px;
	height: 6px;
	margin-left: 5px;
	background-position: 0 -692px;
}

.product .product-item-inner .item-area .item-select-content .item-tab li.active a {
	border: 1px solid #e9edec;
	border-top: 3px solid #036db6;
	border-bottom-color: #fff;
	height: 25px;
	line-height: 21px;
}

.product .product-item-inner .item-area .item-select-content .item-con {
	position: relative;
	top: -1px;
	border-top: 1px solid #e9edec;
}

.product .product-item-inner .item-area .item-close {
	position: absolute;
	right: -7px;
	top: -7px;
	display: block;
	width: 14px;
	height: 14px;
	background: url("../../img/product/productIcon.png") no-repeat;
	background-position: 0 -708px;
}

.product .product-item-inner .item-area .item-select-content .item-list li {
	float: left;
	width: 76px;
	padding-left: 12px;
	line-height: 30px;
	margin: 0;
}

.product .product-item-inner .item-area .item-select-content .item-list li a {
	color: #757575;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60px;
	display: inline-block;
}

.product .product-item-inner .item-area .item-select-content .item-list li a:hover {
	color: #007bc7;
}

.product .product-item-inner .item-area .item-select-content .item-list li a.disabled {
	color: #aaa;
}

.item-con .area-list .item-list {
	/*display: none;*/
	display: block;
	padding: 8px 0;
}

.product .product-item-inner .item-area .spacer {
	position: absolute;
	top: -2px;
	left: 0;
	width: 170px;
	height: 5px;
	background-color: #fff;
}

.product .product-item-inner .item-area .item-select .arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
	height: 28px;
	display: block;
	background: url("../../img/product/productIcon.png") no-repeat;
	background-position: 10px -680px;
}

.product .product-item-inner .item-provider .item-left {
	margin: 25px 20px 25px 15px;
	width: 70px;
}

.product .product-item-inner .item-provider .item-left img {
	width: 100%;
	border-radius: 50%;
}

.product .product-item-inner .item-provider .item-right h3 {
	display: inline-block;
	margin-top: 30px;
	font-size: 20px;
	color: #111;
}

.product .product-item-inner .item-provider .item-right .item-evaluate {
	display: inline-block;
	padding: 0;
	margin-left: 20px;
	font-size: 12px;
	color: #666;
	vertical-align: middle;
}

.product .product-item-inner .item-provider .item-right .item-btn {
	margin-top: 13px;
	margin-bottom: 20px;
	padding: 0;
}

.product .product-item-inner .item-provider .item-right .item-btn .btn {
	display: inline-block;
	width: 130px;
	height: 40px;
	font-size: 12px;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #007bc7;
	text-align: center;
	line-height: 40px;
}

.product .product-item-inner .item-provider .item-right .item-btn .item-btn-submit {
	margin-right: 5px;
	background-color: #007bc7;
}

.product .product-item-inner .item-provider .item-right .item-btn .item-btn-submit:hover {
	background-color: #036db6;
}

.product .product-item-inner .item-provider .item-right .item-btn .item-btn-cancel {
	color: #e85555;
	border-color: #e85555;
}

.product .product-item-inner .item-provider .item-right .item-btn .item-btn-cancel:hover {
	background-color: #e85555;
	color: #fff;
}

.product .product-item-inner .item-choose {
	position: absolute;
	width: 30px;
	top: 190px;
	left: 400px;
}

.product .product-item-inner .item-choose a {
	display: block;
	width: 100%;
	height: 50px;
	background-color: #F2F2F2;
	margin-bottom: 5px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	font-family: sans-serif;
	font-weight: bold;
}
.product .product-item-inner .item-num .item-title {
    width: 55px;
    height: 30px;
    text-align: right;
    border: none;
}
.product .product-item-inner .item-num ul li {
    float: left;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}
.product .product-item-inner .item-num .up  {
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    font-size: 22px;
    line-height: 27px;
    color: #565656;
    text-align: center; 
}
.product .product-item-inner .num{
	float: left;
    display: inline-block;
    width: 40px;
    height: 30px;
    font-size: 18px;
    color: #565656;
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0 !important;
}
.product .product-item-inner .item-num .down {
	float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    font-size: 30px;
    line-height: 22px;
    color: #565656;
    text-align: center; 
}
.product .product-item-inner .item-note p {
	margin-top: 8px;
	padding: 0;
	padding-left: 15px;
	color: #666;
	font-size: 12px;
}

.product .product-item-inner .item-note p a {
	margin: 0 5px;
	color: #007bc7;
}

.product .product-item-inner .item-note p a:hover {
	color: #036db6;
}

.product-detail .product-main {
	width: 900px;
	margin-bottom: 20px;
	-moz-box-shadow:0px 0px 10px #dadada; 
	-webkit-box-shadow:0px 0px 10px #dadada; 
	 box-shadow:0px 0px 10px #dadada;
}

.product-detail .product-main-tab {
	height: 40px;
	line-height: 40px;
	background-color: #f8f8f8; 
   
}
.product-detail  .detail-img{
	
}

.product-detail .product-main-tab ul li {
	float: left;
}

.product-detail .product-main-tab ul li a {
	display: block;
	padding: 0 25px;
	font-size: 14px;
	color: #757575;
	height: 39px;
}

.product-detail .product-main-tab ul li.active a {
	border-top: 2px solid #DE443C; 
	background-color: #fff;
	padding: 1px 24px 0px;
	color: #de443c;
	line-height: 35px;
    height: 40px;
}
 

.product-detail .product-main-content {
	position: relative;

	min-height: 200px;
}

.product-detail .product-main-content img {
	display: block;
	width: 100%;
}

.product-detail .product-recommend {
	position: relative;
	width: 240px;
	z-index: 1;
	
	border: 1px solid #eaedec;
	margin-bottom: 10px;
}

.product-detail .product-recommend h3 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: normal;
	color: #757575;
	background-color: #f5f5f5;
	text-align: center;
}
/*页码 S*/
.paginations {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;  
}
.paginations li{
	float: left; 
	width: 30px;
	height: 30px;
	line-height: 30px;
	border:1px solid #bfbfbf;
	font-size: 12px;
	color: #4c4c4c;
	margin: 0 3px;
	background-color: #f4f4f4;
}
 .paginations li a{
    color:#000;
 }
.paginations li.active{
	background-color: #DE443C; 
	border: 0;
}
.paginations li.active a{
	color: #fff;
}
.paginations .pre-page {
	width: 70px;
	height: 30px;
	line-height: 30px;
	border:1px solid #bfbfbf;
	font-size: 12px;
	color: #4c4c4c;
}
.paginations  .next-page{
	width: 70px;
	height: 30px;
	line-height: 30px;
	border:1px solid #bfbfbf;
	font-size: 12px;
	color: #4c4c4c;
}
/*页码 E*/
 
 
.product-detail .product-recommend .recommend-list {
	padding: 0 0 0 13px;
}

.product-detail .product-recommend .recommend-list li {
	padding: 19px 0;
	border-bottom: 1px solid #e9edec;
}

.product-detail .product-recommend .recommend-list li .recommend-left {
	width: 30%;
	margin-right: 10px;
}

.product-detail .product-recommend .recommend-list li .recommend-left img {
	width: 100%;
	border-radius: 50%;
}

.product-detail .product-recommend .recommend-list li .recommend-right .recommend-right-name {
	font-size: 14px;
	color: #757575;
	margin-top: 10px;
	margin-bottom: 18px;
}

.product-detail .product-recommend .recommend-list li .recommend-right .recommend-right-note {
	font-size: 12px;
	color: #b5b5b5;
}

.product-detail .product-recommend .recommend-list li .recommend-right .recommend-right-note .note-mark {
	margin: 0 3px;
	color: #757575;
}

.product-detail .product-recommend .recommend-list li .recommend-right-btn {
	clear: both;
	padding-top: 20px;
	font-size: 0;
}

.product-detail .product-recommend .recommend-list li .recommend-right-btn a {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.product-detail .product-recommend .recommend-list li .recommend-right-btn .btn-left {
	border: 1px solid #007bc7;
	background-color: #007bc7;
	color: #fff;
}

.product-detail .product-recommend .recommend-list li .recommend-right-btn .btn-left:hover {
	background-color: #036db6;
}

.product-detail .product-recommend .recommend-list li .recommend-right-btn .btn-right {
	margin-left: 10px;
	border: 1px solid #e85555;
	background-color: #fff;
	color: #e85555;
}

.product-detail .product-recommend .recommend-list li .recommend-right-btn .btn-right:hover {
	background-color: #e85555;
	color: #fff;
}

.product-detail .product-recommend .recommend-menu {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	text-align: center;
}

.product-detail .product-recommend .recommend-menu a {
	display: inline-block;
	width: 35%;
	color: #757575;
}

.product-detail .product-recommend .recommend-menu a:hover {
	color: #333;
}

.product-detail .product-evaluation-info {
	position: relative; 
	margin-bottom: 20px;
}

.product-detail .product-evaluation-info .product-details-content h3 {
	padding-left: 35px;
	margin-bottom: 30px;
	height: 40px;
	line-height: 40px;
	background-color: #f5f5f5;
	font-size: 14px;
	color: #757575;
	font-weight: normal;
	border-bottom: 1px solid #eaedec;
}

.product-detail .product-evaluation-info .product-details-content .content-left {
	width: 45%;
}

.product-detail .product-evaluation-info .product-details-content .content-left .content-left-l {
	width: 49%;
}

.product-detail .product-evaluation-info .product-details-content .content-left .rate {
	display: block;
	margin: 10px 0;
	color: #fd6769;
	font-size: 44px;
	line-height: 1;
	text-align: center;
}

.product-detail .product-evaluation-info .product-details-content .content-left .rate-text {
	display: inline-block;
	text-align: center;
	width: 100%;
	line-height: 1;
	color: #595757;
	font-size: 16px;
}

.product-detail .product-evaluation-info .product-details-content .content-left .content-left-r {
	width: 51%;
}

.product-detail .product-evaluation-info .product-details-content .content-left .content-left-r ul li {
	margin-bottom: 28px;
	width: 100%;
	line-height: 1;
}

.product-detail .product-evaluation-info .product-details-content .content-left .content-left-r ul li .left-r-l {
	width: 54%;
	text-align: right;
	padding-right: 14px;
	font-size: 14px;
	line-height: 1;
	color: #595757;
	display: inline-block;
}

.product-detail .product-evaluation-info .product-details-content .content-left .content-left-r ul li .left-r-r {
	width: 44%;
	background: #dcdedd;
	height: 10px;
	font-size: 12px;
	line-height: 1;
	color: #595757;
	margin-top: 2px;
	display: inline-block;
}

.product-detail .product-evaluation-info .product-details-content .content-left .content-left-r ul li .left-r-r em {
	background: #fd6769 none repeat scroll 0 0;
	display: block;
	float: left;
	height: 100%;
}

.product-detail .product-evaluation-info .product-details-content .content-center {
	width: 9%;
	min-height: 90px;
	text-align: center;
}

.product-detail .product-evaluation-info .product-details-content .content-center span {
	display: inline-block;
	text-align: center;
	line-height: 1;
	color: #595757;
	margin: 0;
	min-height: 96px;
	width: 1px;
	background: #c5c5c5;
}

.product-detail .product-evaluation-info .product-details-content .content-right {
	width: 46%;
}

.product-detail .product-evaluation-info .product-details-content .content-right span {
	display: inline-block;
	width: 100%;
	line-height: 1;
	margin: 0 0 12px;
	font-size: 14px;
	color: #3b3b3b;
	text-align: left;
}

.product-detail .product-evaluation-info .product-details-content .content-right ul li {
	float: left;
	height: 25px;
	line-height: 25px;
	color: #595757;
	font-size: 12px;
	margin: 0 10px 10px 0;
	background: #ffebba;
	padding: 0 8px;
}

.product-detail .product-evaluation-info .evaluation-list {
	line-height: 40px;
}

.product-detail .product-evaluation-info .evaluation-list .user-eval-tab {
	padding-left: 30px;
	height: 40px;   
    border-bottom: 2px solid #f5f5f5;
}

.product-detail .product-evaluation-info .evaluation-list .user-eval-tab li {
	float: left;
	padding-right: 40px;
}

.product-detail .product-evaluation-info .evaluation-list .user-eval-tab li a {
	font-size: 14px;
	color: #757575;
}

.product-detail .product-evaluation-info .evaluation-list .user-eval-tab li.active a {
	color: #de443c;
}

.product-detail .product-evaluation-info .eval-list {
	padding: 0px 0 14px 0;
	border-bottom: 1px solid #eaedec;
	position: relative;
}

.product-detail .product-evaluation-info .evaluation-list .user-eval-list li {
	float: left;
	font-size: 16px;
	line-height: 20px;
	color: #8c8c8c;
}

 
.product-detail .product-evaluation-info .list-l {
	width: 56%;
	padding: 0 0 0 40px;
}

.product-detail .product-evaluation-info .list-c {
	width: 14%;
	text-align: center;
}

.product-detail .product-evaluation-info .list-r {
	width: 30%;
	text-align: center;
}
.product-detail .product-evaluation-info .user-eval-list-item{
	padding-left: 26px;
	padding-right: 70px;
}
.product-detail .product-evaluation-info .user-eval-list-item li {
	float: left;
}

.product-detail .product-evaluation-info .user-eval-list-item .list-l p {
	font-size: 14px;
	color: #666;
	line-height: 1.6;
	 
}
 .product-detail .product-evaluation-info .comMain ul{
    border:1px solid #fff;
 }
.product-detail .product-evaluation-info .user-eval-list-item .grade .name{
	display: inline-block; 
}
.product-detail .product-evaluation-info .user-eval-list-item .grade .stars{
	display: inline-block; 
	height: 14px;
}
.product-detail .product-evaluation-info .user-eval-list-item .stars span{
	float: left;
    height: 15px;
    width: 15px;
    margin-left: 4px;
    background:url(/static/img/product/icon/start_sc.png) no-repeat;
    background-size: contain;
}
.product-detail .product-evaluation-info .user-eval-list-item .list-l  {

	font-size: 12px;
	color: #b5b5b5;
	text-align: left;
	position: relative;
	display: inline-block;
}

.product-detail .product-evaluation-info .user-eval-list-item .info{
	display: inline-block; 
	line-height: 20px;
    min-width:500px;
}
 
 .product-detail .product-evaluation-info .user-eval-list-item .pjmodule li{
    color: #fd6353;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin: 0 10px 10px 0;
    padding: 0 8px;
    text-align: center;
    float: left;
    border-radius: 4px;
    border:1px solid #DE443C;
 }
.product-detail .product-evaluation-info .user-eval-list-item  .serve-info .name a{
   font-size: 12px;
   color: #242424;
   font-weight: bold;
   margin-left: 8px;
   margin-right: 16px;
 }
 .product-detail .product-evaluation-info .user-eval-list-item  .serve-info .rate{
 	font-size: 12px;
 	color: #989898;
 }
  .product-detail .product-evaluation-info .user-eval-list-item  .serve-info .rate span:first-child{
  	margin-right: 14px;
  }
.wrap-page {
	text-align: center;
	width: 100%;
	height: 78px;
	overflow: hidden;
}

.wrap-page .page {
	display: inline-block;
	margin: 20px 0 15px;
	text-align: center;
	width: auto;
}

.wrap-page .page a {
	font-size: 14px;
	border: 1px solid #dcdcdc;
	color: #666666;
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: -1px;
	padding: 0 15px;
	text-decoration: none;
}

.wrap-page .page a.active,
.wrap-page .page a:hover {
	background-color: #007bc7;
	border-color: #007bc7;
	color: #fff;
}

.wrap-page .page a.next {
	margin: 0 0 0 -1px;
	padding: 0 15px;
}

.wrap-page .page .total {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-left: 15px;
	margin-top: 0;
	padding: 0;
	color: #999;
	font-size: 14px;
	float: left;
}

.product-detail .product-panel {
	position: relative;
	border: 1px solid #eaedec;
	margin-bottom: 20px;
}

.product-detail .product-panel h3 {
	padding-left: 35px;
	height: 40px;
	line-height: 40px;
	background-color: #f5f5f5;
	font-size: 14px;
	color: #757575;
	font-weight: normal;
	border-bottom: 1px solid #eaedec;
}

.product-detail .product-panel .qa-tab {
	padding: 12px 19px;
	line-height: 30px;
}

.product-detail .product-panel .qa-tab li {
	float: left;
	padding: 0 15px;
}

.product-detail .product-panel .qa-tab li a {
	font-size: 14px;
	color: #757575;
}

.product-detail .product-panel .qa-tab li.active a {
	color: #007bc7;
}

.product-detail .product-panel .qa-tips {
	margin: 0 10px;
	padding: 0 16px;
	height: 25px;
	line-height: 25px;
	border-top: 1px solid #eaedec;
	background-color: #fffbf1;
	font-size: 12px;
	color: #858585;
}

.product-detail .product-panel .qa-list {
	margin: 0 10px;
}

.product-detail .product-panel .qa-list li {
	position: relative;
	padding: 15px;
	border-bottom: 1px solid #eaedec;
	font-size: 12px;
}

.product-detail .product-panel .qa-list li p {
	padding-bottom: 8px;
	color: #757575;
}

.product-detail .product-panel .qa-list li .answer {
	padding-bottom: 0;
	line-height: 1.3;
}

.product-detail .product-qa .wrap-page {
	padding-right: 16px;
	text-align: right;
}

.product-service .service {
	padding: 0 10px;
}

.product-service .service li {
	padding: 30px 35px 20px 25px;
	border-bottom: 1px solid #eaedec;
}

.product-service .service h4 {
	font-size: 14px;
	color: #007bc7;
	line-height: 40px;
	font-weight: bold;
}

.product-service .service i {
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url("../../img/product/productIcon2.png") no-repeat;
}

.product-service .service .icon1 {
	background-position: 0 -209px;
}

.product-service .service .icon2 {
	background-position: 0 -265px;
}

.product-service .service .icon3 {
	background-position: 0 -322px;
}

.product-service .service .icon4 {
	background-position: 0 -377px;
}

.product-service .service .icon5 {
	background-position: 0 -760px;
}

.product-service .service p {
	padding-left: 60px;
	font-size: 12px;
	color: #757575;
	line-height: 22px;
}

.product-service .service img {
	width: 100%;
}

.product-about .about {
	padding: 15px 25px;
	font-size: 12px;
	color: #757575;
	line-height: 22px;
}

.product-about .about .about-mark {
	color: #f58133;
}
/*右边的样式  one S*/
.HotArticles {
    width: 260px;
    background-color: #fff;
    -moz-box-shadow:0px 0px 10px #dadada; 
    -webkit-box-shadow:0px 0px 10px #dadada; 
    box-shadow:0px 0px 10px #dadada;
}
.HotArticles .account-title{ 
    background-color: #f8f8f8;
    height: 46px;
	line-height: 46px;
	text-align: center;
}
.HotArticles .account-title h3 { 
    font-size: 16px;
    color: #333;
    text-align: center; 
}
.HotArticles .panel{ 
	padding: 20px 0 10px 14px; 
	margin-bottom: 20px;
}
 
.HotArticles .panel ul li{
	font-size: 14px;
	color: #666; 
	height: 30px;
}
.HotArticles .panel li span{
	display: inline-block;
	width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: #bbb;
    margin-right: 6px;
    color: #fff;
	
}
.HotArticles .panel li span.first {
    background-color: #ff4546;
}
.HotArticles .panel li span.second {
	background-color: #ff7316;
}
.HotArticles .panel li span.third {
	background-color: #ff9c00;
}
.HotArticles .panel li span.fourth {
	background-color: #8eb9f5;
}
.HotArticles .panel li a{
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 206px; 
	vertical-align: sub;
    color:#666;
}
/*右边的样式   one E*/
/*右边的样式 S*/
.shopcart {
    width: 260px;
    background-color: #fff;
   	-moz-box-shadow:0px 0px 10px #dadada; 
	-webkit-box-shadow:0px 0px 10px #dadada; 
	 box-shadow:0px 0px 10px #dadada;
}

.shopcart .account-title{ 
    background-color: #f8f8f8;
    height: 40px;
}
.shopcart .account-title h3 {
    padding: 16px 0 16px 90px;
    font-size: 14px;
    color: #818181;
    text-align: center;
    float: left;
}
.shopcart .account-title .refresh{
	display: inline-block;
    float: right;
    background: url(../../img/product/Refresh.png) no-repeat 4px 16px; 
    width: 70px;
    height: 46px;
    text-align: right;
    font-size: 12px;
    color: #b2b2b2;
    padding-top: 17px;
    padding-right: 8px;
}

.shopcart .shopcart-panel {
	display: block;
    margin: 16px 20px 24px 20px;
}

.shopcart .shopcart-panel .avatar img {
    width: 100%;
}
.shopcart .shopcart-panel .shopcart-total {
    border-bottom: 1px solid #dadada;
    font-size: 12px; 
    text-align: center;
    padding: 10px 0 24px;
    width: 156px;
    margin-left:37px;
}
.shopcart .shopcart-panel .shopcart-total p{
	color: #4c4c4c;
	line-height: 27px;
}
.shopcart .shopcart-panel .shopcart-total em{
	color: #de443c;
}

.shopcart .shopcart-panel .shopcart-total span {
    color: #e96f68;
}

/*右边的样式 E*/

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.product .product-item-preview {
	overflow: hidden;
}

.product .product-item-preview img {
	width: 390px;
	height: 388px;
	border: 1px solid #f5f5f5;
}

.pikachoose {
	width: 100%;
	margin: 25px auto 0;
	position: relative;
	height: 400px;
	overflow: hidden;
}

.pika-thumbs {
	width: 170px;
}

.pika-thumbs li {
	width: 170px;
	height: 106px;
	margin: 0 0 10px 0;
	padding: 0;
	overflow: hidden;
	float: left;
	border: 1px solid #b5b5b6;
	cursor: pointer;
}

.pika-thumbs li.active {
	border-color: #4cc9ff;
}

.pika-thumbs li .clip {
	position: relative;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.pika-stage,
.pika-textnav {
	width: 650px;
}

.pika-stage {
	position: relative;
	height: 400px;
}

.pika-stage img {
	width: 652px;
	height: 400px;
}

.pika-stage .caption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 30px;
	background: #000;
	background: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	color: #fff;
}

.pika-stage .caption p {
	padding: 0;
	margin: 0;
	line-height: 14px;
}

.pika-stage a {
	cursor: default
}

.pika-imgnav {
	display: none
}

.pika-textnav a {
	position: absolute;
	left: 672px;
	display: block;
	width: 170px;
	height: 18px;
	cursor: pointer;
	text-indent: -9999px;
}

.pika-textnav a.previous {
	top: 0;
	background: url('../../img/product/productIcon.png') no-repeat;
	background-position: 70px -500px;
}

.pika-textnav a.previous:hover {
	background-position: 70px -538px;
}

.pika-textnav a.next {
	bottom: 0;
	background: url('../../img/product/productIcon.png') no-repeat;
	background-position: 70px -578px;
}

.pika-textnav a.next:hover {
	background-position: 70px -613px;
}

.pika-tooltip {
	font-size: 12px;
	position: absolute;
	color: white;
	padding: 3px;
	background-color: rgba(0, 0, 0, 0.7);
	border: 3px solid black;
}

.pika-counter {
	position: absolute;
	bottom: 45px;
	left: 15px;
	color: white;
	background: rgba(0, 0, 0, 0.7);
	font-size: 11px;
	padding: 3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.jcarousel-skin-pika {
	position: absolute;
	top: 30px;
	right: 25px;
}

.jcarousel-skin-pika .jcarousel-container-vertical {
	width: 170px;
	height: 360px;
	overflow: hidden;
}

.jcarousel-skin-pika .jcarousel-clip-vertical {
	width: 170px;
	height: 360px;
}

.product .product-item-inner .item-detail {
	position: relative;
}

.product .product-item-inner .item-detail .item-detail-offline {
	height: 330px;
	line-height: 330px;
	text-align: center;
	font-size: 18px;
	background: #F8F8F8;
}


/*分享到微信*/

.mask {
	display: none;
	width: 100%;
	height: 100%;
	background: #000000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99998;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.know-poper {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -290px;
	margin-top: -260px;
	height: 520px;
	width: 580px;
	background: #ffffff;
	z-index: 999999;
	display: none;
	text-align: center;
}

.know-poper .close {
	display: inline-block;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
	background: url("../../img/product/close.png") no-repeat scroll center center;
}

.know-poper .close:hover {
	background: url("../../img/product/closeHover.png") no-repeat scroll center center;
}

.know-poper h4 {
	font-size: 14px;
	color: #595758;
	text-align: center;
	margin-top: 115px;
	font-weight: bold;
}

.know-poper img {
	max-width: 100%;
	border: none;
	vertical-align: top;
	margin-top: 21px;
	width: 250px;
}
/*fixed*/

.product-fixed {
	width: 900px;
	position: fixed;
	top: 0;
	z-index: 9999;
	background-color: #f5f5f5;
	border: none;
	border-bottom: 1px solid #eaedec;
	z-index: 100;
}

.product-detail .product-main-tab .btn-group {
	display: block;
	font-size: 0;
}

.product-detail .product-main-tab .hidden {
	display: none;
}

.product-detail .product-main-tab .btn-group a {
	display: inline-block;
	width: 124px;
	height: 38px;
	line-height: 40px;
	text-align: center;
	vertical-align: top;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #007bc7;
	color: #fff;
	font-size: 14px;
}

.product-detail .product-main-tab .btn-group a.call {
	background: #fff;
	color: #009be1;
	font-size: 14px;
	text-align: center;
	border: 1px solid #009be1;
}

.w-660 {
	width: 660px!important;
}

.dis-inline-b {
	display: inline-block!important;
}

.product-server {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f8f8f8;
	border: 1px solid #eaedec;
}

.product-server .loading {
	line-height: 160px;
	text-align: center;
	font-size: 18px;
	color: #666;
}

.product-server .product-server-list {
	height: 30px;
	line-height: 40px;
	background-color: #f8f8f8;
}

.product-server .product-server-list ul {
	border-bottom: 1px solid #eee;
}

.product-server .product-server-list ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}

.product-server .product-server-list ul li.title {
	padding-left: 10px;
	padding-right: 20px;
}

.product-server .product-server-list ul li a {
	display: block;
	padding: 0 10px;
	color: #757575;
	font-size: 12px;
	line-height: 28px;
	height: 30px;
	border-top: 2px solid #f8f8f8;
}

.product-server .product-server-list ul li.more a {
	color: #999;
}

.product-server .product-server-list ul li.active a {
	border: 1px solid #eaedec;
	border-top: 2px solid #127bc7;
	border-bottom-color: #f8f8f8;
	background-color: #f8f8f8;
	padding: 0 10px;
	color: #127bc7;
	position: relative;
}

.product-server .product-server-list ul li.active a:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #f8f8f8;
}

.product-server .product-server-content {
	padding: 20px 10px 10px 9px;
}

.product-server .product-server-content ul li {
	position: relative;
	float: left;
	width: 291px;
	height: 130px;
	border: 1px solid #eaedec;
	background-color: #fff;
	padding: 15px 15px;
	margin-right: 20px;
}

 

.product-server .product-server-content ul li .info {
	margin-left: 15px;
	float: left;
}

.product-server .product-server-content ul li .info .name {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.product-server .product-server-content ul li .info .detail {
	margin-bottom: 10px;
	font-size: 14px;
	color: #666;
}

.product-server .product-server-content ul li .info .detail .num {
	margin-right: 5px;
}

.product-server .product-server-content ul li .info .call {
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	/*text-align: center;*/
	border: 1px solid #007bc7;
	background-color: #fff;
	color: #007bc7;
	border-radius: 2px;
	padding-left: 32px;
	background: #fff url("../../img/icon_tel2.png") no-repeat scroll left 0;
	background-position: 8px 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.product-server .product-server-content ul li .info .call:hover {
	border-color: #007bc7;
	background-color: #007bc7;
	color: #fff;
	background: #007bc7 url("../../img/icon_tel1.png") no-repeat scroll left 0;
	background-position: 9px 4px;
}

.product-server .product-server-content ul li .tag {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	padding: 0 6px;
	background-color: #8fbde5;
	color: #fff;
}

.product-server .product-server-content ul li.all {
	width: 206px;
	background: #f8f8f8;
	line-height: 130px;
	padding: 0;
	color: #666;
	text-align: center;
	border: none;
	margin-right: 0;
}

.product-server .product-server-content ul li.all a {
	margin: 0 10px;
	display: inline-block;
	color: #007bc7;
}

.product-server .product-server-content ul li.all a:hover {
	color: #036db6;
}

.product-server .product-server-content ul li.no-data {
	padding: 0;
	margin-right: 0;
	width: 100%;
	border: none;
	background-color: #f8f8f8;
	text-align: center;
}

.product-server .product-server-content ul li.no-data img {
	margin-bottom: 15px;
	width: 60px;
}

.product-server .product-server-content ul li.no-data p {
	color: #727171;
	text-align: center;
	line-height: 1.5;
	font-size: 14px;
}

.product-detail {
	position: relative;
}

.absoluted {
	position: absolute!important;
	top: 0;
	right: 0;
}