.container .mycenter {
	padding-bottom: 160px;
}

.tip_title {
	height: 56px;
	line-height: 56px;
	font-size: 14px;
}


/*关于我们 S*/

.about-banner {
	width: 100%;
	padding: 0 42px;
	margin-bottom: 50px;
}

.about-banner img {
	display: block;
}

.about-content {
	width: 100%;
	padding: 0 42px;
}

.about-content p {
	text-indent: 20px;
	font-size: 14px;
	color: #666;
	margin-bottom: 60px;
	line-height: 25px;
}


/*关于我们 E*/


/*联系我们 S*/

.contact-banner {
	width: 100%;
	margin-bottom: 50px;
}

.contact-banner img {
	display: block;
}

.contact-content {
	width: 100%;
}

.contact-content .contact-address,
.contact-website,
.contact-tel {
	margin-bottom: 45px;
}

.contact-content .contact-address,
.contact-website,
.contact-tel p {
	font-size: 14px;
	color: #242424;
	line-height: 12px;
}

.contact-content .contact-tel .tel {
	color: #DE443C !important;
}


/*联系我们 E*/


/*加入我们 S*/

.join-banner {
	width: 100%;
	margin-bottom: 50px;
}

.join-banner img {
	display: block;
}

.join-content {
	width: 100%;
}
.welfare-title {
	font-size: 24px;
	color: #3b3a40;
	text-align: center ;
}
.welfare-title span,.environment-title span,.recruit-title span{
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 2px;
	background-color: #DE443C;
	margin-top: 10px;
}
.wel-first{
	text-align: center;
	margin-top: 38px;
}
.wel-second{
	text-align: center;
	margin-top: 26px; 
}
.wel-first  span,.wel-second span{
	display: inline-block;
	width: 93px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #242424;
	margin-right: 42px; 
}

.light-green{
	border: 1px solid #b8e986;
}
.pink{
	border: 1px solid #f9c4c7;
}
.cyan{
	border: 1px solid #50e3c2;
}
.light-blue{
	border: 1px solid #007ccd;
}
.environment-title,.recruit-title{
	font-size: 24px;
	color: #3b3a40;
	text-align: center;
	margin-top: 82px; 
}
.environment-content{
	padding-left:83px; 
	padding-right:60px; 
	margin-top: 40px;
}
.envImg{
	float: left;
}
.envList{
	float: right;
}
.envImg,.envList{
	display: inline-block; 
}
.envImg img{
	display: block;
}
 
.envList ul{ 
	list-style: disc; 
}
.envList ul li{
	line-height: 45px;
}
.recruit-content{ 
	padding: 0 214px;
	margin-top: 50px;
}
.recruit-content .rybzp,.recruit-content .online-delivery{
	display: inline-block;
	text-align: center;
}
.recruit-content .rybzp{
	margin-right: 26px;
}
.recruit-content .rybzp a{
	display: block;
	width: 360px;
	height: 50px;
	line-height: 50px;
	background-color: #DE443C;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	background-image: url(../../img/index/about/iconfont-wo.png); 
	background-repeat: no-repeat;
	background-position:36% center;
}
.recruit-content .online-delivery a{
	display: block;
	width: 360px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #DE443C;
	color: #DE443C;
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	background-image: url(../../img/index/about/online_delivery.png); 
	background-repeat: no-repeat;
	background-position:36% center;
	
}
.recruit-content p{
	margin-top: 16px;
	text-align: center;
	font-size: 14px;
	color: #a5a3a3;
}
/*加入我们 E*/
/*支付帮助 S*/
 
.pay-content {
	width: 100%;
	padding: 0 42px;
}

.pay-content .pay-explain { 
	font-size: 14px;
	color: #666; 
}
.pay-content .pay-explain p{
	line-height: 25px;
}
.pay-first h2{
	font-size: 24px;
	color: #242424;
    margin: 60px 0 20px;
}
.pay-first p{
	line-height: 25px;
	font-size: 14px;
	color: #666;
}
/*支付帮助 E*/
/*新手帮助  S*/
.newhand-content{
	width: 100%;
	padding: 0 42px;
}
.newhand-content .nh-first h2{
	font-size: 24px;
	color: #242424;
	margin: 66px 0 20px;
}
.newhand-content .nh-first p{
	line-height: 25px;
	font-size: 14px;
	color: #666;
}
/*新手帮助 E*/