/*头部样式  S*/
.personal-header{ 
    background-color: #fff;
}
.personal-header .my-logo,.my-main,.account-set {
	display: block; 
	float: left;
 	height: 88px;
 	line-height: 88px;
 	font-size: 20px;
}
.personal-header .my-logo{
	padding-top: 15px;
	margin-right: 180px;
}
.personal-header .my-main{
	margin-right: 84px;
}
.personal-header .my-main,.account-set{
	color: #282828;
}
.personal-header .my-main.active,.account-set.active{
	color: #DE443C;
	border-bottom: 2px solid #DE443C;
}
/*头部样式  E*/
.container .mycenter{
	background: #F1F1F1;
	padding-bottom: 216px;
}

.tip_title {
	height: 56px;
	line-height: 56px;
	font-size: 14px;
}
.myMenu{
	width: 150px;
	margin-bottom: 104px;
	background: #fff;
	-moz-box-shadow:0px 0px 6px #bebdbd;
	-webkit-box-shadow:0px 0px 6px #bebdbd;
	box-shadow:0px 0px 6px #bebdbd;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 147px;
}
 
.mycenter .order-ul{
	margin: 24px 0;
}

.myMenu ul li.first-title{
	background: url(../../img/index/about/Hcenter.png) no-repeat;
	background-position: 25px 6px;
}
.myMenu ul li.second-title{
	background: url(../../img/index/about/Horder.png) no-repeat;
	background-position: 25px 8px;
}
.myMenu ul li.third-title{
	background: url(../../img/index/about/Hserver.png) no-repeat;
	background-position: 25px 6px;
}
.myMenu ul  li.title a{
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.myMenu ul  li.active a{
	font-size: 14px;
	color: #DE443C;
}
.myMenu ul  li a{
	font-size: 14px;
	color: #818181;
	line-height: 28px;
}
 
.myCont {
	width: 1010px;
	min-height: 532px;
	background: #fff;
	-moz-box-shadow:0px 0px 6px #bebdbd;; 
	-webkit-box-shadow:0px 0px 6px #bebdbd;; 
	box-shadow:0px 0px 6px #bebdbd;;
}
.myCont .person-main-tab {
	height: 40px;
	line-height: 40px;
	background-color: #f8f8f8; 
}

.myCont .person-main-tab ul li {
	float: left;
}

.myCont .person-main-tab ul li a {
	display: block;
	padding: 0 25px;
	font-size: 14px;
	color: #757575;
	height: 39px;
}

.myCont .person-main-tab ul li.active a {
	background-color: #fff;
	padding: 0 24px;
	color: #DE443C;
	line-height: 40px;
	border-top:2px solid #DE443C;
}

.method-content .baseInfo{
	width: 600px; 
	margin-top: 46px ;
	margin-left: 76px;
	text-align: center;
	
}
.method-content .baseInfo form{
	padding-left: 12px;
	padding-right: 12px;
	text-align: left;
}
.method-content .baseInfo .p-same{
	margin-bottom: 14px;
}
.method-content .baseInfo .centerInfo{
 	display: inline-block;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	color: #4c4c4c;  
}
/*基本信息完善  S*/
.method-content .baseInfo input{
	width: 260px;
	height: 35px;
	padding-left: 18px;
	margin-left: 14px;
}

.method-content .baseInfo input::-webkit-input-placeholder { /* WebKit browsers*/ 
　　color:#b6b6b6;
	font-size:12px;
}
.method-content .baseInfo input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
　　color:#b6b6b6;
	font-size:12px;
}
.method-content .baseInfo input::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
　　color:#b6b6b6;
	font-size:12px;
}
.method-content .baseInfo input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
　　color:#b6b6b6;
	font-size:12px;
}
 
.method-content .baseInfo .p-address select{
	width: 150px;
	height: 35px;
}
.method-content .baseInfo .p-address .p-city{
	width: 288px;
	height: 40px;
	margin-left: 12px; 
}
.method-content .baseInfo .p-address select{
	outline: none;
}

 
.baseInfo .errorMsg{
	color: #f05050;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    display: none;
}
 
 
.method-content .baseInfo .baseBtn{
	width: 150px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 110px;
	margin-bottom: 150px;
	background-color: #DE443C;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 3px;
}
.sexSelect{
	width:260px;
	height: 35px;
	margin-left: 14px;
}
/*基本信息完善 E*/

/*修改手机号 S*/
.basePhone{
	width: 472px;
	height: 216px; 
	margin: 86px 270px 190px 268px;
}
.basePhone .bp-title p{
	font-size: 12px;
	color: #242424;
	font-weight: bold;
}
.basePhone .bp-num{ 
	height: 40px;
	line-height: 40px;
	margin-top: 40px;
}
.basePhone .bp-label{
	display: inline-block;
	width: 58px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	text-align: right;
	color: #4c4c4c; 
}
.basePhone .bp-number{
	font-size: 14px;
	margin-left:  12px;
	color: #c82b23;
}
 
.basePhone .bp-code .yz-code{
	width: 250px;
	height: 40px;
	outline: none;
	margin-left: 12px;
    padding-left: 16px;
    margin-right: 20px;
    
}
.basePhone .bp-code .btn-code{
	width: 120px;
	height: 40px;
	background-color: #f95b53;
	color: #fff;
	outline: none;
	border:0;
	border-radius:4px;
}
.basePhone .bp-submit{
	width: 250px;
	height: 40px;
	background-color: #fba39e;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 4px;
	margin-top: 36px;
	margin-left: 74px;
}
/*修改手机号 E*/
/*修改密码 S*/
.basePw{
	width: 380px;
	height: 240px; 
	margin: 62px 306px 190px 326px;
}
.basePw .pw-nav{
	margin-bottom: 12px;
}
.basePw .pw-nav .pw-label{
	display: inline-block;
	width: 66px;
	height: 40px;
	line-height: 40px; 
}
.basePw .pw-nav input{
	width: 250px;
	height: 40px;
	margin-left: 16px;
	padding-left: 18px;
	
}
.basePw .pw-nav .errorMsg{
	color: #f05050;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    margin-left: 86px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: none;
}
.basePw  .pw-submit{
	width: 250px;
	height: 40px;
	background-color: #fba39e;
	outline: none;
	border: 0;
	margin-left: 84px;
	color: #fff;
	margin-top: 18px;
	border-radius: 4px;
}
/*修改密码 E*/
