body {
	display: flex;
	min-height: 100vh;
	background-color: #f3f3f3;
	flex-flow: column;
}

header {
	display: block;
	background: #fff;
	height: 100px;
}
footer{
	display: block;
	padding-bottom: 100px;
	background-color: #F9F8F4
}
footer p{
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.container {
	margin: 0 auto;
	width: 1180px;
	height: auto;
}

.container h1 {
	/*margin: 27px 0 21px;*/
}

.floatleft a {
	display: block;
	width: 278px;
	height: 54px;
	margin-top: 23px;
}

.floatleft a img {
	background-size: cover;
}

.container .rel {
	font-size: 25px;
	color: #DE443C;
	line-height: 100px;
	float: right;
	width: 220px;
	background: url(../../img/common/phone_logo.png) 0 26px no-repeat;
}

.container .rel a {
	margin-left: 50px;
}

.layout {
	background-color: #f9f8f4;
}

.login-main {
	padding: 78px 70px 222px 0;
	/* margin: 40px auto 0; */
	width: 1180px;
	height: 720px;
	overflow: hidden;
	background-color: #f9f8f4;
	border-radius: 10px;
	color: #666;
	position: relative;
	background: url('../../img/common/bg_logo.png') no-repeat 0 340px;
}

/* .bg_logo{
	z-index: -1;
	position: absolute;
	top:334px;
	width: 1180px;
	height: 383px;
} */
.bg_font{
	position: absolute;
	top:194px;
	left: 80px;
}
.login-main .login-right {
	width: 460px;
	float: right;
}

.login-main .left-form {
	margin: 0px auto 0;
	width: 460px;
	border-top: 4px solid #DE443C;
	background-color: #fff;
	box-shadow: 0px 0px 30px 0px#e7e6e3;
	padding: 44px 48px 46px 34px;
}

.login-main .zhuce {
	font-size: 22px;
	margin-bottom: 6px;
	color: #444;
}

.login-main .left-form .phone-form {
	display: block;
}

.login-main .left-form ul li {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 36px;
	margin-bottom: 16px;
	line-height: 36px;
	margin-left: 10px;
	font-size: 10px;
}

.login-main .left-form ul li label.text {
	color: #444444;
	font-size: 10px;
	text-align: right;
	border: 1px solid red;
	width: 200px;
}

.login-main .left-form .layui-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #eee;
	outline: none;
	padding-left: 10px;
	/*width: 320px;*/
}

.submit-btn {
	width: 390px;
	height: 48px;
	background-color: #eaeaea;
	font-size: 20px;
	outline: none;
	border: none;
	color: #b6b6b6;
}

.p-explain {
	text-align: center;
}

.clearfix {
	zoom: 1;
}

 
.login-right .zcform p{
	margin-bottom: 4px;
}
.login-right .zcform a {
	color: #3cabde;
}

.regBtn{
	z-index: 9999;
	width: 390px;
    height: 47px;
    border-radius: 3px;
    background: #d43c33;
    border: 0 none;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(79,36,36,0.5);
    outline: none;
}

.zcform label {
	display: block;
	float: left;
	height: 46px;
	line-height: 36px;
	color: #F00;
}

.zcform label.one {
	color: #444;
}
.zcform  .yz-label{
	letter-spacing: 3px;
}
.zcform .name-label{
	letter-spacing: 8px;
}
.pw-label{
	letter-spacing: 0px;
}

.zcform input {
	float: left;
	font-size: 12px;
	color: #999;
}

.zcform .submit {
	margin-left: 41px;
	text-align: center;
	background: #DE443C;
	font-size: 20px;
	letter-spacing: 4px;
	color: #fff;
	cursor: pointer;
	margin-bottom: 20px;
}

.reg-telphone,
.reg_name,
.reg_password,
.submit{
	border: 1px solid #ccc;
	width: 308px;
	height: 40px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #eee;
	outline: none;
	padding-left: 10px;
}

.identifying_code {
	height: 40px;
	width: 200px;
	line-height: 40px;
	padding-left: 10px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #eee;
	outline: none;
}
.reg-single-btn{
	color: #DE443C !important;
	background-color: #fff !important;
	width: 108px;
	height: 40px;
    border: 0;
    /* border-left: 1px solid #eee; */
    border-bottom: 2px solid #eee;
    vertical-align: middle;
    outline: none;
}
 
.get_code {
	height: 40px;
	width: 110px;
	margin-left: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.agreement {
	color: #999;
	font-size: 12px;
	margin: 28px 0 14px 53px !important;
}

.agreement input {
	display: block;
	line-height: 30px;
	height: 12px;
	margin: 8px 8px 0 5px;
	border: none;
	width: 12px;
}
.register-box {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 0px;
   
}
.register-box a{
	 font-size: 12px;
    color: #3cabde;
}
/*错误框提示*/
.same-error{ 
	text-align: center;
	position: relative;
	padding-left: 40px;
	height: 17px;
	line-height: 17px;
}
.same-error img{
   position: absolute;
   left: 74px;
   top:1px;
   display: inline-block;
   width: 12px;
   height: 12px;
   margin-right: 4px;
   background: url(../img/index/login_conf.png) no-repeat;
}
.same-error span {
   font-size: 12px;
   color: #de443c;
   margin-left: -116px;
}