<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="keywords" content="XXXXX,注册公司,代理记账,商标注册,个人社保,企业社保,创业法律服务">
        

		<title>有限公司注册_公司注册_ 注册公司代理 - XXXXX</title>
		<!-- common css -->
         <link rel="shortcut icon" href="<?php echo IMG?>/common/favicon.ico" type="image/x-icon">
		<link href="../../../css/common.css" rel="stylesheet" type="text/css">
		<link href="../../../css/sort.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../../../css/common/base.css" type="text/css" />
		<link rel="stylesheet" href="../../../css/product/relate.css" />
		<link href="../../../css/ui-dialog.css" rel="stylesheet" type="text/css">

		<link href="../../../css/index.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="../../../js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../../../js/product/productrelate.js"></script>

		<body>
			<div id="nTalk_post_hiddenElement" style="left: -10px; top: -10px; visibility: hidden; display: none; width: 1px; height: 1px;"></div>
			<!--header start-->
			<header>

				<div class="top-header">
					<div class="container" id="loginbar">
						<ul class="floatleft">
							<li class="nav-location">
								<a href="http://www.kuaifawu.com/product/item/info/id/1.html" class="locatin-icon">
									<!--<i class="arrow floatright"></i>-->上海市 </a>
								<div class="location-layer">
									<em></em>
									<ul>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(3302)">北京</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(3304)">上海</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(283)">广州</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(285)">深圳</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(160)">南京</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(173)">杭州</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(174)">宁波</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(164)">苏州</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(361)">成都</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(3303)">天津</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(202)">厦门</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(3305)">重庆</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(255)">武汉</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(414)">西安</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(81)">衡水</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(105)">沈阳</a>
										</li>
										<li>
											<a href="javascript:void(0)" onclick="changeCity(222)">青岛</a>
										</li>

									</ul>
								</div>
							</li>
							<li class="left_zc">
								<a href="#">注册</a>
							</li>
							<li>
								<a href="#">用户登录</a>
							</li>
							<li>
								<a href="#" target="_blank">服务者登录</a>
							</li>
						</ul>
						<ul class="floatright nav-menu">
							<li>
								<a href="#">我的订单</a>
							</li>
							<li>
								<a href="#">个人中心</a>
							</li>
							<li>
								<a href="#" target="_blank">021-62129799</a>
							</li>
						</ul>

					</div>
				</div>

				<div class="main-header">
					<div class="container clearfix logo" style="border: 1px solid #fff;">
						<img src="../../../img/common/logo.png">
					</div>
					<div class="container clearfix">
						<div class="nav-sub floatleft">
							<a href="#">全部服务分类</a>

							<div class="floatleft nav-list ">
								<div class="floatleft nav ">
									<ul class="nav-sub-list clearfix">
										<li class="">
											<i class="icon-1"></i>
											<h4>工商服务</h4>
											<i class="right-arrow"><div></div></i>
										</li>
										<li>
											<i class="icon-2"></i>
											<h4>财税服务</h4>
											<i class="right-arrow"><div></div></i>
										</li>
										<li>
											<i class="icon-3"></i>
											<h4>资质办理</h4>
											<i class="right-arrow"><div></div></i>
										</li>
										<li>
											<i class="icon-4"></i>
											<h4>知识产权</h4>
											<i class="right-arrow"><div></div></i>
										</li>
										<li>
											<i class="icon-5"></i>
											<h4>科技服务</h4>
											<i class="right-arrow"><div></div></i>
										</li>
										<li>
											<i class="icon-6"></i>
											<h4>法律服务</h4>
											<i class="right-arrow"><div></div></i>
										</li>
										<li>
											<i class="icon-7"></i>
											<h4>金融服务</h4>
											<i class="right-arrow"><div></div></i>
										</li>
									</ul>
								</div>
								<div class="floatLeft nav-content hidden">

									<!-- 我要开公司 -->
									<!-- 我要开公司2 -->
									<div class="clearfix hidden">
										<ul class="clearfix floatleft nav-content-item nav-content-item-2">
											<li>
												<a href="#">
													<h5>公司注册</h5></a>
												<div class="nav-one">
													<a class="active" href="#">公司注册</a>
													<a href="#">注册地址</a>
													<a href="#">银行开户</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>公司变更</h5></a>
												<div>
													<a href="#">股权变更</a>
													<a href="#">注册地址变更</a>
													<a href="#">经营范围变更</a>
													<a href="#">法人、高管或注册资本变更</a>
													<a href="#">公司名称变更</a>
													<a href="#">公司章证遗失补办</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>注销及其他</h5></a>
												<div>
													<a class="active" href="#">公司注销</a>
													<a href="#">年报公示</a>
													<a href="#">五证合一</a>
													<a href="#">工商解异常</a>
												</div>
											</li>
										</ul>

									</div>
									<!-- 我要开公司 -->
									<!-- 我要代理记账 -->
									<div class="hidden clearfix">
										<ul class="clearfix floatleft nav-content-item nav-content-item-2">
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/2.html">
													<h5>代理记账</h5></a>
												<div class="nav-one">
													<a class="active" href="#">小规模代理记账</a>
													<a href="#">一般纳税人代理记账</a>
													<a class="active" href="#">税收筹划</a>
												</div>
											</li>
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/55.html">
													<h5>税务代办</h5></a>
												<div>
													<a href="http://www.kuaifawu.com/product/item/info/id/55.html">发票代办</a>
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/54.html">税控代办</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/68.html">税务解锁</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/237.html">所得税汇算清缴</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/70.html">办理一般纳税人资质</a>
												</div>
											</li>
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/190.html">
													<h5>审计评估</h5></a>
												<div>
													<a href="http://www.kuaifawu.com/product/item/info/id/190.html">财务审计</a>
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/196.html">验资报告</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/439.html">资产评估</a>
												</div>
											</li>
										</ul>

									</div>
									<!-- 我要代理记账 -->
									<!-- 我要注册商标 -->
									<div class="hidden clearfix">
										<ul class="clearfix floatleft nav-content-item li-thin nav-content-item-2">
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/7.html">
													<h5>商标注册</h5></a>
												<div class="nav-one">
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/277.html">国内商标注册</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/223.html">国际商标注册</a>
													<a class="active" href="http://www.ipr.kuaifawu.com/shop.html">购买商标</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>商标周边</h5></a>
												<div>
													<a class="active" href="#">商标驳回复审</a>
													<a href="#">商标变更</a>
													<a href="#">商标续展</a>
													<a href="#">商标异议</a>
													<a href="#">商标无效宣告</a>
													<a href="#">商标撤三</a>
													<a href="#">商标行政诉讼</a>
													<a href="#">商标转让</a>
													<a href="#">商标设计</a>
													<a href="#">其他商标周边</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>著作权</h5></a>
												<div>
													<a href="#">文字美术著作权</a>
													<a href="#">视频著作权</a>
													<a class="active" href="#">软件著作权</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>专利</h5></a>
												<div>
													<a href="http://www.kuaifawu.com/product/item/info/id/162.html">发明</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/161.html">实用新型</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/105.html">外观设计</a>
												</div>
											</li>
										</ul>

									</div>
									<!-- 我要注册商标 -->
									<!-- 我要办高新 -->
									<div class="hidden clearfix">
										<ul class="clearfix floatleft nav-content-item nav-content-item-2">
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/171.html">
													<h5>行政审批</h5></a>
												<div class="nav-one">
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/171.html">互联网类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/203.html">游戏类资质</a>
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/179.html">餐饮类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/804.html">广播电视类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/810.html">通讯类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/807.html">人力资源类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/806.html">旅游类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/181.html">环境类型影响登记</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/803.html">道路运输类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/805.html">营业演出类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/175.html">进出口类资质</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/426.html">ISO9001认证</a>
												</div>
											</li>
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/173.html">
													<h5>高新认证</h5></a>
												<div>
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/816.html">高新企业认证</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/747.html">创新资金</a>
												</div>
											</li>
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/173.html">
													<h5>管理体系认证</h5></a>
												<div>
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/1125.html">ISO14001环境体系认证</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/1126.html">OHSAS18001职业安全认证</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/1127.html">ISO27001信息管理安全认证</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/1128.html"> ISO22000食品安全管理体系认证</a>
												</div>
											</li>
										</ul>

									</div>
									<!-- 我要办高新 -->
									<!-- 我要办社保 -->
									<div class="hidden clearfix">
										<ul class="clearfix floatleft nav-content-item nav-content-item-2">
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/10.html">
													<h5>企业社保</h5></a>
												<div class="nav-one">
													<a href="http://www.kuaifawu.com/product/item/info/id/10.html">企业社保开户</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/262.html">企业社保代缴</a>
												</div>
											</li>
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/148.html">
													<h5>个人社保</h5></a>
												<div>
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/148.html">个人社保代缴</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/126.html">社保待遇申领</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/129.html">公积金提取</a>
												</div>
											</li>
											<li>
												<a href="http://www.kuaifawu.com/product/item/info/id/417.html">
													<h5>工作居住证</h5></a>
												<div>
													<a class="active" href="http://www.kuaifawu.com/product/item/info/id/417.html">企业《工作居住证》开户</a>
													<a href="http://www.kuaifawu.com/product/item/info/id/418.html">员工《工作居住证》代办</a>
												</div>
											</li>
										</ul>

									</div>
									<!-- 我要办社保 -->
									<!-- 我要找律师 -->
									<div class="hidden clearfix">
										<ul class="clearfix floatleft nav-content-item li-thin nav-content-item-2">
											<li>
												<a href="#">
													<h5>法律咨询</h5></a>
												<div class="nav-one">
													<a class="active" href="#">电话问律师</a>
													<a href="#">见面问律师</a>
													<a href="#">法律会员</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>合同文书</h5></a>
												<div>
													<a class="active" href="#">合同代写、审核</a>
													<a href="#">股权类合同</a>
													<a href="#">投资类合同</a>
													<a href="#">劳动类合同</a>
													<a href="#">律师函</a>
													<a href="#">公司章程</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>法律顾问</h5></a>
												<div>
													<a href="#">创业法律顾问</a>
													<a class="active" href="#">融资专项法律顾问</a>
													<a href="#">劳动人事专项法律顾问</a>
													<a href="#">创业法律顾问【升级版】</a>
												</div>
											</li>
											<li>
												<a href="#">
													<h5>专项服务</h5></a>
												<div>
													<a class="active" href="#">股权方案设计</a>
													<a href="#">尽职调查</a>
													<a href="#">代理诉讼</a>
													<a href="#">个人法律服务</a>
													<a href="#">股权激励方案</a>
													<a href="#">劳动仲裁</a>
												</div>
											</li>
										</ul>

									</div>
									<!-- 我要找律师 -->
								</div>

							</div>

							<script type="text/javascript">
								var $nav = $('.nav-list')
								var $navList = $('.nav-content').children('.clearfix');
								var $navSubList = $('.nav-sub-list').find('li');
								var $navContent = $('.nav-content');
								var navFlag = false;

								$nav.hover(function() {
									navFlag = true;
								}, function() {
									navFlag = false;
									$navSubList.removeClass('active');
									$navList.addClass('hidden');
									$navContent.addClass('hidden');
								})

								$navSubList.hover(function() {
									var $this = $(this);
									var _id = $this.index();
									$this.addClass('active').siblings().removeClass('active');
									$($navList[_id]).removeClass('hidden').siblings().addClass('hidden');
									$navContent.removeClass('hidden')
								}, function() {
									var $this = $(this);
									var _id = $this.index();
								})

								// 不是主页时，选择分类可收起
								$('.nav-sub').hover(function() {
									$nav.removeClass('hidden');
								}, function() {
									$nav.addClass('hidden');
								})
							</script>
						</div>
						<div class="navs floatleft">
							<a href="#">公司注册

							</a>
							<a href="#">知识产权

							</a>
							<a href="#">代理记账

							</a>
							<a href="#">国家高新

							</a>
							<a href="#">税收筹划

							</a>
							<a href="#">公司转让

							</a>
							<a href="#">申请专利</a>
							<a href="#">律师服务</a>
							<a href="#">快合财税</a>

						</div>
					</div>
				</div>

			</header>
			<!--header end-->
			<!--layout start-->
			<div class="layout">

				<div class="container p-t-40 clearfix">
					//显示产品的价格
					<input type="hidden" value="18777" name="data[productskuid][]" data-saleprice="499">
					<input type="hidden" value="5891" name="data[providerid][]">
					<input type="hidden" value="499.00" name="data[saleprice][]">
					<div class="confirm floatleft">
						<div class="need">
							<h2>您可能还需要:</h2>
						</div>

						<div class="item" id="product-relate-142" data-ismultiselect="1">

							<div class="item-header clearfix">
								<img src="../../../img/product/icon/icon_1.png">
								<h2>选择注册地址</h2>
								<span class="item-price" id="total-142"></span>
								<!--<div class="item-price js-saleprice" data-saleprice="0"></div>-->
							</div>
							<ul class="item-list clearfix js-item-list">
								<li class="js-relate-btn " id="product-sales_attr-281" data-productrelateid="142" data-productsalesattrid="281" data-providerid="5404" data-realname="" data-avatar="#" data-issocialsecurity="0" data-productskuid="14940" data-areatitle="上海-金山区" data-productsalesattrtitle="普通注册地址" data-saleprice="0">
									<a href="javascript:;">
										请为我提供普通注册地址 </a>

								</li>
								<li class="js-relate-btn active" id="product-sales_attr-283" data-productrelateid="142" data-productsalesattrid="283" data-providerid="5404" data-realname="" data-avatar="" data-issocialsecurity="0" data-productskuid="1" data-areatitle="" data-productsalesattrtitle="" data-saleprice="2">
									<a href="javascript:;">
										使用自己的地址 </a>

								</li>
							</ul>
						</div>
						<div class="item" id="product-relate-143" data-ismultiselect="1">
							<div class="item-header clearfix">
								<img src="../../../img/product/icon/icon_2.png">
								<h2>选择会计服务</h2>
								<span class="item-price" id="total-143"></span>
								<!--<div class="item-price js-saleprice" data-saleprice="0"></div>-->
							</div>
							<ul class="item-list clearfix js-item-list">
								<li class="js-relate-btn active" id="product-sales_attr-287" data-productrelateid="143" data-productsalesattrid="287" data-providerid="" data-realname="" data-avatar="" data-issocialsecurity="0" data-productskuid="2" data-areatitle="" data-productsalesattrtitle="" data-saleprice="5">
									<a href="javascript:;">
										我有自己的会计 </a>

								</li>
								<li class="js-relate-btn" id="product-sales_attr-286" data-productrelateid="143" data-productsalesattrid="286" data-providerid="5404" data-realname="王冰" data-avatar="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/005/404/5404.jpg?x-oss-process=style/210-auto" data-issocialsecurity="0" data-productskuid="19820" data-areatitle="上海-金山区" data-productsalesattrtitle="一般纳税人代理记账（一年）" data-saleprice="6000" >
									<a href="javascript:;">
										一年记账服务（一般纳税人） </a>

								</li>
								<li class="js-relate-btn" id="product-sales_attr-285" data-productrelateid="143" data-productsalesattrid="285" data-providerid="5404" data-realname="王冰" data-avatar="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/005/404/5404.jpg?x-oss-process=style/210-auto" data-issocialsecurity="0" data-productskuid="8659" data-areatitle="上海-金山区" data-productsalesattrtitle="小规模记账（季度）" data-saleprice="900">
									<a href="javascript:;">
										三个月记账服务 </a>

								</li>
								<li class="js-relate-btn" id="product-sales_attr-284" data-productrelateid="143" data-productsalesattrid="284" data-providerid="5404" data-realname="王冰" data-avatar="http://upload-out.oss-cn-beijing.aliyuncs.com/prj_kfw/provider/000/005/404/5404.jpg?x-oss-process=style/210-auto" data-issocialsecurity="0" data-productskuid="19173" data-areatitle="上海-金山区" data-productsalesattrtitle="小规模代理记账（一年）" data-saleprice="2800">
									<a href="javascript:;">
										一年记账服务 </a>

								</li>
							</ul>
						</div>
						<div class="item" id="product-relate-144" data-ismultiselect="1">
							<div class="item-header clearfix">
								<img src="../../../img/product/icon/icon_3.png">
								<h2>选择银行开户</h2>
								<span class="item-price" id="total-144"></span>
								<!--<div class="item-price js-saleprice" data-saleprice="0"></div>-->
							</div>
							<ul class="item-list clearfix js-item-list">
								<li class="js-relate-btn active" id="product-sales_attr-292" data-productrelateid="144" data-productsalesattrid="292" data-providerid="" data-realname="" data-avatar="" data-issocialsecurity="0" data-productskuid="2" data-areatitle="" data-productsalesattrtitle="" data-saleprice="1090">
									<a href="javascript:;">
										我自己办理银行开户 </a>

								</li>
								<li class="js-relate-btn" id="product-sales_attr-290" data-productrelateid="144" data-productsalesattrid="290" data-providerid="5404" data-realname="" data-avatar="#" data-issocialsecurity="0" data-productskuid="2733" data-areatitle="上海-金山区" data-productsalesattrtitle="建行银行开户-徐汇" data-saleprice="200">
									<a href="javascript:;">
										选择徐汇区建行开户（限时特惠） </a>

								</li>
								<li class="js-relate-btn" id="product-sales_attr-289" data-productrelateid="144" data-productsalesattrid="289" data-providerid="5404" data-realname="" data-avatar="#" data-issocialsecurity="0" data-productskuid="15821" data-areatitle="上海-金山区" data-productsalesattrtitle="银行开户" data-saleprice="300">
									<a href="javascript:;">
										选择银行开户 </a>

								</li>
							</ul>
						</div>
						<div class="item" id="product-relate-145" data-ismultiselect="1">
							<div class="item-header clearfix">
								<img src="../../../img/product/icon/icon_4.png">
								<h2>选择申办发票</h2>
								<span class="item-price" id="total-145"></span>
								<!--<div class="item-price js-saleprice" data-saleprice="0"></div>-->
							</div>
							<ul class="item-list clearfix js-item-list">
								<li class="js-relate-btn active" id="product-sales_attr-294" data-productrelateid="145" data-productsalesattrid="294" data-providerid="" data-realname="" data-avatar="" data-issocialsecurity="0" data-productskuid="3" data-areatitle="" data-productsalesattrtitle="" data-saleprice="8">
									<a href="javascript:;">
										我要自己去申报发票 </a>

								</li>
								<li class="js-relate-btn" id="product-sales_attr-293" data-productrelateid="145" data-productsalesattrid="293" data-providerid="5404" data-realname="王冰" data-avatar="#" data-issocialsecurity="0" data-productskuid="15576" data-areatitle="上海-金山区" data-productsalesattrtitle="税控代办及票种核定" data-saleprice="500">
									<a href="javascript:;">
										请为我申办税控及发票 </a>

								</li>
							</ul>

						</div>
						<button class="goCount">去结算</button>
					</div>
					<div class="shopcart floatright">

						<div class="account-form" action=" " method="post">
							<h3>您可能感兴趣</h3>
							<a class="shopcart-panel" id="selected-product">
								<div class="avatar">
									<img src="../../../img/common/CIcon.png">
								</div>
								<div class="shopcart-total">
									<p>软件著作权</p>
									<em>￥780.00</em>
								</div>
							</a>
							<a class="shopcart-panel" id="selected-product">
								<div class="avatar">
									<img src="../../../img/common/CIcon.png">
								</div>
								<div class="shopcart-total">
									<p>软件著作权</p>
									<em>￥780.00</em>
								</div>
							</a>

						</div>
					</div>
				</div>

				<script type="text/javascript">
					$(function() {
						/*选择或者取消公司关联推荐*/
						$('.js-relate-btn').click(function() {
							var btn = $(this);

							var hasActive = btn.hasClass('active');
							// 是否是多选Ó
							var selectmore = btn.attr('data-selectmore');

							var providerid = btn.attr('data-providerid');
							var productskuid = btn.attr('data-productskuid');
							var saleprice = btn.attr('data-saleprice');
							// 点击已选中的按钮，则取消选中
							if(hasActive) {
								btn.removeClass('active');
								$('#relate-' + productskuid + '-' + providerid).remove();
								totalXj(btn);
								totalPrice();
								return false;
							}
							// 单选
							if(0 == selectmore) {
								btn.siblings('li').each(function() {
									if($(this).hasClass('active')) {
										$(this).removeClass('active');
										$('#relate-' + $(this).attr('data-productskuid') + '-' + $(this).attr('data-providerid')).remove();
									}
								});
							}

							btn.addClass('active');
							btn.siblings('li').removeClass('active');
							if(productskuid > 0) {
								btn.after('<span id="relate-' + productskuid + '-' + providerid + '">' + '<input type="hidden" value="' + productskuid + '" name="data[productskuid][]" data-saleprice="' + saleprice + '">' + '<input type="hidden" value="' + providerid + '" name="data[providerid][]">' + '<input type="hidden" value="' + saleprice + '" name="data[saleprice][]"></span>');
							}
							totalXj(btn);
							totalPrice();
							return false;
						});
						/**
						 * 计算小计
						 */
						function totalXj(btn) {
							var totalprice = 0;
							btn.parent().find('input[name="data[productskuid][]"]').each(function() {
								totalprice += parseInt($(this).attr('data-saleprice') * 100);
							});
							totalprice = totalprice / 100;

							$('#total-' + btn.attr('data-productrelateid')).html('￥' + totalprice);

						}
						/**
						 * 计算总价
						 */
						function totalPrice() {
							var totalprice = 0;
							$('input[name="data[productskuid][]"]').each(function() {
								totalprice += parseInt($(this).attr('data-saleprice') * 100);
							});
							totalprice = totalprice / 100;
							$('#totalprice').html('￥' + totalprice);
						}
						/*页面加载的时候计算小计*/
						function totalzeo() {
							var totalprice = 0;
							$.each($('li[data-productskuid]'), function(k, v) {
								
								if($(v).hasClass('active')) {
									console.log(v)
									totalprice += parseInt($(v).attr('data-saleprice') * 100);
									totalprice = totalprice / 100;
									$('#total-' + $(v).attr('data-productrelateid')).html('￥' + totalprice);
									 
								}

							})
						}
						/*获取所有商品的ID*/
						$('#goPay').on('click', function() {
							var ids = ''
							$.each($('li[data-productskuid]'), function(k, v) {
								if($(v).hasClass('active')) {
									ids += $(v).attr('data-productskuid') + '_';
								}
							});
						})
						totalzeo();
						totalPrice();
					});
				</script>

			</div>
			<!--右侧悬浮工具条  star-->
			<ul class="nav-slide-bar">
				<li class="chat">
					<a href="javascript:;" onclick="openZixun(&#39;&#39;);"><i class="icon_chat"></i>在线咨询</a>
				</li>
				<li class="top js-last-li" style="display: none;">
					<a href="javascript:;"><i class="icon_top"></i></a>
				</li>
			</ul>

			<script>
				// 小能咨询
				function openZixun(key) {
					addXnOperation();
					key = key || 'gs';
					var mapping = {
						'gs': 'kf_9178_1457078402761',
						'cs': 'kf_9178_1457078402761',
						'fl': 'kf_9178_1458099405473',
						'zc': 'kf_9178_1457078701232',
						'sb': 'kf_9178_1457077912392'
					};
					var v = typeof(mapping[key]) == 'undefined' ? 'kf_9178_1457078402761' : mapping[key];
					NTKF.im_openInPageChat(v);
				}
			</script>

			<!--右侧悬浮工具条  end-->
			<!--layout end-->
			<!--footer start-->
			<footer class="bg-white link list">
				<div class="greyd2d2d2">
					<a href="#">
						<div class="container six-list-index">
							<ul class="clearfix">
								<li class="first-li">
									<div class="foot-icon"></div>
									<div class="foot-icon-title">
										<p class="ftitle-p">明码标价</p>
										<p>无隐形收费 </p>
										<p>打破所有传统行业陋习</p>
										<p>将所有服务明码标价</p>
									</div>

								</li>
								<li class="second-li">
									<div class="foot-icon teamIcon"></div>
									<div class="foot-icon-title">
										<p class="ftitle-p">专业团队</p>
										<p>一对一创业辅导 </p>
										<p>免费提供专业咨询</p>
									</div>

								</li>
								<li class="third-li">
									<div class="foot-icon"></div>
									<div class="foot-icon-title">
										<p class="ftitle-p">办理进度</p>
										<p>实时掌控</p>
										<p>办理进度一清二楚</p>
										<p>随时随地可靠</p>
									</div>

								</li>
								<li class="fourth-li">
									<div class="foot-icon"></div>
									<div class="foot-icon-title">
										<p class="ftitle-p">一站式</p>
										<p>创业孵化平台 </p>
										<p>开公司所需的服务</p>
										<p>这里都有</p>
									</div>

								</li>

							</ul>
						</div>
					</a>
				</div>
				<div class="container">
					<ul class="link-lists clearfix">
						<li class="n-m-l">
							<h5>关于XXXXX</h5>
							<a target="_blank" href="#">了解我们</a>

							<a target="_blank" href="#">加入我们</a>
							<a target="_blank" href="#">联系我们</a>
						</li>
						<li>
							<h5>常见问题</h5>
							<a target="_blank" href="#">新手帮助</a>
							<a target="_blank" href="#">支付帮助</a>
							<a target="_blank" href="#">开具发票</a>
							<a target="_blank" href="#">知识库</a>
						</li>
						<li>
							<h5>商务合作</h5>
							<a target="_blank" href="#">商务合作</a>
							<a target="_blank" href="#">渠道加盟</a>
							<a target="_blank" href="#">更多服务</a>
							<a target="_blank" href="#">地址商合作</a>
						</li>
						<li>
							<h5>服务商入口</h5>
							<a target="_blank" href="#">服务商登录</a>
							<a target="_blank" href="#">服务商加盟</a>
						</li>
						<li>
							<div class="floatleft bd"></div>
							<div class="floatleft link-code">
								<i></i>
								<div class="floatleft link-code-text">
									<span>扫描二维码</span>
									<span>关注XXXXX微信</span>
									<span>创业一手掌握</span>
								</div>
							</div>
							<div class="floatleft link-th">
								<h5>免费服务热线</h5>
								<span class="tel">021-62129799</span>
								<span>周一至周日<em>8:00-22:00</em></span>
								<button type="button" class="link-btn" onclick="openZixun(&#39;&#39;)">售后服务</button>
							</div>
						</li>
					</ul>
					<div class="footer-inner text-center">
						<p class="copyright">Copyright@2017-2018上海XXXXX信息科技有限公司</p>
					</div>
				</div>
			</footer>
			<!--footer end-->
			<script>
				var browser = getBrowser();
				var wwwMobileUrl = ' ';
				if(browser.isMobile) {
					window.location.href = wwwMobileUrl;
				}
			</script>
		</body>

</html>