html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    background-color: #f3f6f6;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a,
a:hover,
a:hover,
a:visited {
    text-decoration: none;
}

img,
a,
a:hover,
a:active {
    border: none;
    outline: none;
}

button:visited {
    border: none;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    font-family: 'PingFangSC', 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    position: relative;
    background-color: #fff;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.layout {
    flex: 1;
}

footer {
    flex: 0;
}

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.hidden {
    display: none !important;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    height: 0.8rem;
    color: red;
    border-bottom: 0.01333rem solid #d9d9d9;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 100;
}

header a {
    display: inline-block;
    font-size: 0.16rem;
}

header a .area {
    line-height: 0.26667rem;
}

header a .area span {
    font-size: 14px;
    vertical-align: middle;
    color: #333333;
}

[data-dpr="2"] header a .area span {
    font-size: 28px;
}

[data-dpr="3"] header a .area span {
    font-size: 42px;
}

header a .area .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0.26667rem;
    height: 0.16rem;
    background: url(../img/home/home_top_xjt.png) no-repeat;
    background-size: contain;
}

header a .logo {
    display: inline-block;
    margin-left: -0.2rem;
    vertical-align: middle;
    width: 2.36rem;
    height: 0.42667rem;
    background: url(../img/home/home_top_icon.png) no-repeat;
    background-size: contain;
}

header a .shopcart {
    display: inline-block;
    vertical-align: middle;
    width: 0.49333rem;
    height: 0.48667rem;
    background: url(../img/home/home_top_shopcar.png) no-repeat;
    background-size: contain;
}

header a .home {
    display: inline-block;
    margin-left: -0.13333rem;
    vertical-align: middle;
    width: 0.49rem;
    height: 0.4rem;
    background: url(../images/common/home-top-left.png) no-repeat;
    background-size: contain;
}

header a .person {
    display: inline-block;
    vertical-align: middle;
    width: 0.36rem;
    height: 0.4rem;
    background: url(../images/common/home-top-right.png) no-repeat;
    background-size: contain;
}

header a .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.4rem;
    color: #333333;
    max-width: 7.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*咨询悬浮框 S*/
.m-customer {
    position: fixed;
    z-index: 50;
    bottom: 3.4rem;
    right: 0;
    text-align: center;
    margin-right: 0.3rem;
   
}
.m-customer a:nth-of-type(1){
    height: 0.93rem;
    width: 0.76rem;
    line-height: 0.93rem;
    display: block;
    background: #f95b53;
    padding-top:0.17rem;
    -moz-border-top-left-radius: 0.1rem;
    -webkit-border-top-left-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    -moz-border-top-right-radius: 0.1rem;
    -webkit-border-top-right-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.m-customer a:nth-of-type(2){
    height: 0.93rem;
    width: 0.76rem;
    display: block;
    background: #f95b53;
    padding-top: 0.17rem;
    -moz-border-bottom-left-radius: 0.1rem;
    -webkit-border-bottom-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    -moz-border-bottom-right-radius: 0.1rem;
    -webkit-border-bottom-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}
.m-customer a .customer-icon-1 {
    width: 0.44rem;
    height: 0.52rem;
    background-image: url("../images/common/home_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.m-customer a .customer-icon-2 {
    width: 0.48rem;
    height: 0.48rem;
    background-image: url("../images/common/home_online.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.m-customer a .customer-txt {
    color: #f3f6f6;
    font-size: 0.26667rem;
    margin-top: 0.16rem;
}
/*咨询悬浮框 E*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.08rem;
    border-top: 0.01333rem solid #d9d9d9;
    background: #ffffff;
    display: flex;
    align-items: center;
    z-index: 999;
}

footer a {
    display: inline-block;
    width: 25%;
    text-align: center;
}

footer a .icon {
    margin: 0.14667rem auto 0rem auto;
}

footer a .icon.icon-1 {
    width: 0.61333rem;
    height: 1.04rem;
    background: url("../images/common/home_bar1_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-2 {
    width: 0.54667rem;
    height: 0.97333rem;
    background: url("../images/common/home_bar2_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-3 {
    width: 0.54667rem;
    height: 1.05333rem;
    background: url("../images/common/home_bar3_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-4 {
    width: 0.58667rem;
    height: 1.04rem;
    background: url("../images/common/home_bar4_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-1 {
    width: 0.61333rem;
    height: 1.04rem;
    background: url("../images/common/home_bar1_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-2 {
    width: 0.54667rem;
    height: 0.97333rem;
    background: url("../images/common/home_bar2_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-3 {
    width: 0.54667rem;
    height: 1.05333rem;
    background: url("../images/common/home_bar3_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-4 {
    width: 0.58667rem;
    height: 1.04rem;
    background: url("../images/common/home_bar4_sel.png") no-repeat;
    background-size: cover;
}

footer {
    border: none;
}

footer .total {
    display: inline-block;
    width: 6rem;
    height: 1.08rem;
    line-height: 1.08rem;
    text-align: right;
    font-size: 0.26rem;
    color: #666666;
    border-top: 0.02933rem solid silver;
}

footer .total em {
    margin-right: 0.26667rem;
    font-size: 0.3rem;
    color: #e85555;
}

footer .gosettle {
    font-size: 0.3rem;
    height: 1.08rem;
    line-height: 1.08rem;
    width: 2.5rem;
    background-color: #e85555;
    color: #ffffff;
}

.layout .service .item .i-title .addbtn .down {
    float: left;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.01333rem solid #d9d9d9;
    font-size: 0.4rem;
    color: #666666;
    text-align: center;
    line-height: 0.5rem;
    background-color: #eee;
}

.layout .service .item .i-title .addbtn .num {
    float: left;
    display: inline-block;
    width: 0.7rem;
    height: 0.5rem;
    border: 0.01rem solid #d9d9d9;
    font-size: 0.3rem;
    line-height: 0.5rem;
    color: #1d1d1d;
    text-align: center;
    background-color: #eee;
    margin-left: 0.06rem;
    margin-right: 0.06rem;
}

.layout .service .item .i-title .addbtn .up {
    float: left;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.01333rem solid #d9d9d9;
    font-size: 0.4rem;
    color: #666666;
    text-align: center;
    line-height: 0.55rem;
    background-color: #eee;
}

.weui-loading-wrap {
    display: block;
    opacity: 1;
}

.weui-loading-wrap .weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.weui-loading-wrap .weui-toast {
    position: fixed;
    z-index: 5000;
    width: 3.24rem;
    min-height: 3.24rem;
    top: 4.8rem;
    left: 50%;
    margin-left: -1.62667rem;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 0.13333rem;
    color: #FFFFFF;
}

.weui-loading-wrap .weui-toast .weui-icon_toast {
    width: 0.54667rem;
    height: 0.54667rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: weuiLoading 1s steps(12, end) infinite;
    animation: weuiLoading 1s steps(12, end) infinite;
    background: transparent url("data:image/svg+xml;charset=utf8, <svg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'><path fill='none' d='M0 0h100v100H0z'/><rect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/><rect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/></svg>") no-repeat;
    background-size: 100%;
}

.weui-loading-wrap .weui-toast .weui-icon_toast.weui-loading {
    margin: 0.8rem 0rem 0rem 0rem;
    width: 1.01333rem;
    height: 1.01333rem;
    vertical-align: baseline;
}

.weui-loading-wrap .weui-toast .weui-toast__content {
    margin: 0.21333rem 0rem 0.4rem 0rem;
    font-size: 0.42667rem;
}

@-webkit-keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.layout {
    background-color: #f3f6f6;
    text-align: center;
    font-size: 0;
    background-size: cover;
    padding: 1rem 0rem 1.33333rem 0rem;
}

.layout .info {
    padding: 0.4rem 0rem 0.26667rem 0rem;
    margin-bottom: 0.26667rem;
    background-color: #ffffff;
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .info h2 {
    text-align: left;
    padding-left: 0.26667rem;
    margin-bottom: 0.33333rem;
    font-size: 0.34667rem;
    color: #666666;
}

.layout .info .detail {
    padding: 0rem 0.26667rem 0rem 0.26667rem;
}

.layout .info .detail ul li {
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .info .detail ul li span {
    display: inline-block;
    font-size: 0.37333rem;
    color: #666666;
    width: 2rem;
    text-align: left;
    vertical-align: middle;
    line-height: 0.93333rem;
}

.layout .info .detail ul li span em {
    color: #e85555;
}

.layout .info .detail ul li input {
    display: inline-block;
    width: 7.46667rem;
    vertical-align: middle;
    border: 0;
    line-height: 0.93333rem;
    font-size: 0.37333rem;
}

.layout .service {
    padding: 0.4rem 0rem 0.26667rem 0rem;
    margin-bottom: 0.26667rem;
    background-color: #ffffff;
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .service h2 {
    text-align: left;
    padding-left: 0.26667rem;
    margin-bottom: 0.2rem;
    font-size: 0.24rem;
    color: #666666;
}

.layout .service .item .i-title {
    text-align: left;
    padding: 0rem 0.53333rem 0.2rem 0.3rem;
}

.layout .service .item .i-title h3 {
    float: left;
    position: relative;
    display: inline-block;
    color: #333333;
    font-size: 0.3rem;
    font-weight: bold;
    line-height: 0.53333rem;
    max-width: 6.66667rem;
}

.layout .service .item .i-title .addbtn {
    float: right;
}

.layout .service .item .i-title .addbtn span {
    float: left;
    display: inline-block;
    width: 0.8rem;
    height: 0.53333rem;
    font-size: 0.37333rem;
    line-height: 0.53333rem;
    color: #666666;
    text-align: center;
}

.layout .service .item .i-info {
    text-align: left;
    padding: 0.1rem 0.53rem 0.3rem 0.3rem;
}

.layout .service .item .i-info span {
    margin-right: 0.26667rem;
    font-size: 0.24rem;
    color: #999999;
    vertical-align: middle;
}

.layout .service .item .i-info span.m0 {
    margin-right: 0rem;
}

.layout .service .item .i-info span.fee {
    float: right;
    line-height: 0.66667rem;
    color: #e85555;
}

.layout .service .item .i-info img {
    display: inline-block;
    width: 0.61333rem;
    height: 0.61333rem;
    -moz-border-radius: 0.30667rem;
    -webkit-border-radius: 0.30667rem;
    border-radius: 0.30667rem;
    vertical-align: middle;
}

.layout .service .item .i-info.top {
    padding-top: 0.33333rem;
}

.layout .service .item .i-info.top span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.layout .service hr {
    margin-left: 0.29333rem;
    margin-top: 0.26667rem;
    margin-bottom: 0.4rem;
    width: 9.41333rem;
    border: 0rem solid #e0e0e0;
    height: 1px;
    background-color: #e0e0e0;
}

.layout .service hr.line {
    margin-top: 0;
}

.layout .coupon {
    text-align: left;
    background-color: #ffffff;
    border-top: 0.01467rem solid #d9d9d9;
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .coupon h2 {
    display: inline-block;
    margin-left: 0.53333rem;
    width: 5.33333rem;
    font-size: 0.4rem;
    line-height: 1.06667rem;
    vertical-align: top;
}

.layout .coupon .c-tip {
    text-align: right;
    display: inline-block;
    margin-right: 0.26667rem;
    width: 3.86667rem;
    font-size: 0.32rem;
    line-height: 1.06667rem;
    color: #999999;
    vertical-align: top;
}

.layout .coupon .list {
    margin: 0rem 0.5rem 0rem 0.5rem;
    font-size: 0.3rem;
}

.layout .coupon .list li {
    border-bottom: 0.01467rem solid #d9d9d9;
}

.layout .coupon .list li a {
    line-height: 0.88rem;
    color: #333333;
}

.layout .coupon .list li a .num {
    color: #e85555;
}

.layout .coupon .list li a .dis {
    color: #999999;
}

.layout .coupon .list li a .right {
    float: right;
}

.layout .coupon .list li:last-child {
    border-bottom: none;
}
/*弹出框*/
.weui-dialog {position: fixed;z-index: 5000;  width:6.05rem; height:3.7rem;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color: #FFFFFF;text-align: center;overflow: hidden;}
.weui-dialog__title {font-size: 1rem;}
.weui-dialog__bd {word-wrap: break-word;word-break: break-all;color: #de443c;}
.weui-dialog__ft {position: relative;line-height: 0.8rem;font-size: 0.18rem;display: -webkit-box;display: -webkit-flex;display: flex; }
.weui-dialog__ft:after {content: " ";position: absolute;left: 0;top: 0;right: 0;height: 1px;color: #D5D5D6;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);        transform: scaleY(0.5);}
.weui-dialog__btn {display: block;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;color: #3CC51F;text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);position: relative; margin:0 0.72rem;}
.weui-dialog__btn:active {background-color: #EEEEEE;}
.weui-dialog__btn:after {content: " ";position: absolute;left: 0;top: 0;width: 1px;bottom: 0;border-left: 1px solid #D5D5D6;color: #D5D5D6;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleX(0.5);transform: scaleX(0.5);}
.weui-dialog__btn:first-child:after {display: none;}
.weui-dialog__btn_default {color: #333; border:1px #d8d8d8 solid;border-radius:0.3rem;}
.weui-dialog__btn_primary {color: #fff;  border-radius:0.1rem;}
.dialog_sign .weui-dialog__hd{border-bottom: 1px solid #dadada;}
.dialog_sign .weui-dialog__hd div{ color:#565656; font-size:0.24rem;height: 0.86rem;line-height: 0.86rem;}
.dialog_sign .weui-dialog__hd p{ color:#ffbdbd; font-size:1.2rem;}
.dialog_sign .weui-dialog__bd{ min-height:inherit; color:#de443c; font-size:0.28rem;height: 1.64rem;line-height: 1.64rem;}
.dialog_sign .weui-dialog__btn_primary{ background:#de443c;width: 4.6rem;height: 0.8rem;}