html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    background-color: #f3f6f6;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a,
a:hover,
a:hover,
a:visited {
    text-decoration: none;
}

img,
a,
a:hover,
a:active {
    border: none;
    outline: none;
}

button:visited {
    border: none;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    font-family: 'PingFangSC', 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    position: relative;
    background-color: #fff;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.layout {
    flex: 1;
}

footer {
    flex: 0;
}

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.hidden {
    display: none !important;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    height: 1.04rem;
    color: red;
    border-bottom: 0.01333rem solid #d9d9d9;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 100;
}

header a {
    display: inline-block;
    font-size: 0.16rem;
}

header a .area {
    line-height: 0.26667rem;
}

header a .area span {
    font-size: 14px;
    vertical-align: middle;
    color: #333333;
}

[data-dpr="2"] header a .area span {
    font-size: 28px;
}

[data-dpr="3"] header a .area span {
    font-size: 42px;
}

header a .area .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0.26667rem;
    height: 0.16rem;
    background: url(../img/home/home_top_xjt.png) no-repeat;
    background-size: contain;
}

header a .logo {
    display: inline-block;
    margin-left: -0.2rem;
    vertical-align: middle;
    width: 2.36rem;
    height: 0.42667rem;
    background: url(../img/home/home_top_icon.png) no-repeat;
    background-size: contain;
}

header a .shopcart {
    display: inline-block;
    vertical-align: middle;
    width: 0.49333rem;
    height: 0.48667rem;
    background: url(../img/home/home_top_shopcar.png) no-repeat;
    background-size: contain;
}

header a .home {
    display: inline-block;
    margin-left: -0.13333rem;
    vertical-align: middle;
    width: 0.49333rem;
    height: 0.49333rem;
    background: url(../img/home/home-top-left.png) no-repeat;
    background-size: contain;
}

header a .person {
    display: inline-block;
    vertical-align: middle;
    width: 0.49333rem;
    height: 0.49333rem;
    background: url(../img/home/home-top-right.png) no-repeat;
    background-size: contain;
}

header a .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.4rem;
    color: #333333;
    max-width: 7.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-customer {
    position: fixed;
    z-index: 50;
    bottom: 2rem;
    right: 0;
    text-align: center;
    width: 1.33333rem;
    margin-right: 0.26667rem;
}

.m-customer a {
    height: 1.33333rem;
    width: 1.33333rem;
    display: block;
    margin-top: 0.13333rem;
    padding-top: 0.2rem;
    -moz-border-radius: 0.66667rem;
    -webkit-border-radius: 0.66667rem;
    border-radius: 0.66667rem;
    background: rgba(71, 212, 177, 0.85);
}

.m-customer a .customer-icon-1 {
    width: 0.50667rem;
    height: 0.50667rem;
    background-image: url("../img/home/home_online.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.m-customer a .customer-icon-2 {
    width: 0.50667rem;
    height: 0.50667rem;
    background-image: url("../img/home/home_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.m-customer a .customer-txt {
    color: #f3f6f6;
    font-size: 0.26667rem;
    margin-top: 0.16rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.33333rem;
    border-top: 0.01333rem solid #d9d9d9;
    background: #ffffff;
    display: flex;
    align-items: center;
    z-index: 999;
}

footer a {
    display: inline-block;
    width: 25%;
    text-align: center;
}

footer a .icon {
    margin: 0.14667rem auto 0rem auto;
}

footer a .icon.icon-1 {
    width: 0.61333rem;
    height: 1.04rem;
    background: url("../img/home/home_bar1_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-2 {
    width: 0.54667rem;
    height: 0.97333rem;
    background: url("../img/home/home_bar2_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-3 {
    width: 0.54667rem;
    height: 1.05333rem;
    background: url("../img/home/home_bar3_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.icon-4 {
    width: 0.58667rem;
    height: 1.04rem;
    background: url("../img/home/home_bar4_no.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-1 {
    width: 0.61333rem;
    height: 1.04rem;
    background: url("../img/home/home_bar1_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-2 {
    width: 0.54667rem;
    height: 0.97333rem;
    background: url("../img/home/home_bar2_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-3 {
    width: 0.54667rem;
    height: 1.05333rem;
    background: url("../img/home/home_bar3_sel.png") no-repeat;
    background-size: cover;
}

footer a .icon.active.icon-4 {
    width: 0.58667rem;
    height: 1.04rem;
    background: url("../img/home/home_bar4_sel.png") no-repeat;
    background-size: cover;
}

.weui-loading-wrap {
    display: block;
    opacity: 1;
}

.weui-loading-wrap .weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.weui-loading-wrap .weui-toast {
    position: fixed;
    z-index: 5000;
    width: 3.24rem;
    min-height: 3.24rem;
    top: 4.8rem;
    left: 50%;
    margin-left: -1.62667rem;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 0.13333rem;
    color: #FFFFFF;
}

.weui-loading-wrap .weui-toast .weui-icon_toast {
    width: 0.54667rem;
    height: 0.54667rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: weuiLoading 1s steps(12, end) infinite;
    animation: weuiLoading 1s steps(12, end) infinite;
    background: transparent url("data:image/svg+xml;charset=utf8, <svg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'><path fill='none' d='M0 0h100v100H0z'/><rect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/><rect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/><rect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/></svg>") no-repeat;
    background-size: 100%;
}

.weui-loading-wrap .weui-toast .weui-icon_toast.weui-loading {
    margin: 0.8rem 0rem 0rem 0rem;
    width: 1.01333rem;
    height: 1.01333rem;
    vertical-align: baseline;
}

.weui-loading-wrap .weui-toast .weui-toast__content {
    margin: 0.21333rem 0rem 0.4rem 0rem;
    font-size: 0.42667rem;
}

@-webkit-keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.layout {
    text-align: center;
    font-size: 0;
    /* background: url("../img/mycenter/login_bg.jpg") no-repeat; */
    background-size: cover;
}

.layout .login-pic {
    width: 4rem;
    height: auto;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.layout .tab {
    margin: 0rem 0rem 0rem 0rem;
    margin: 0rem 0.44rem 0rem 0.44rem;
}

.layout .tab ul {
    margin: 0 auto;
    white-space: nowrap;
    width: 100%;
}

.layout .tab ul li {
    display: inline-block;
    border-bottom: 0.02rem solid #b6b6b6;
    float: left;
}

.layout .tab ul li a {
    display: inline-block;
    width: 3.2rem;
    height: 0.94rem;
    line-height: 0.8rem;
    padding-top: 0.13333rem;
    font-size: 0.3rem;
    color: #666666;
    background-color: #ffffff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.layout .tab ul li a.phone {
    border-right: 0;
    padding-left: 0.4rem;
}

.layout .tab ul li a.phone:after {
    content: "";
    display: block;
    width: 80%;
    margin-left: 10%;
    height: 0.05333rem;
    margin-top: 0rem;
    background-color: #de443c;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    position: relative;
    z-index: 0;
}

.layout .tab ul li a.account {
    padding-right: 0.4rem;
}

.layout .tab ul li a.active {
    color: #de443c;
}

.layout .tab.a-2 ul li a:after {
    margin-left: 110%;
}

.layout form .login-list {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    padding-left: 0.44rem;
    padding-right: 0.44rem;
}

.layout form .login-list ul li {
    border-bottom: 0.01rem solid #eaeaea;
}

.layout form .login-list ul li .login-single {
    text-align: left;
    font-size: 0rem;
    /* border-bottom: 0.01rem solid #eaeaea; */
    height: 1rem;
}

.layout form .login-list ul li .login-single .login-single-input {
    width: 4.8rem;
    height: 0.98rem;
    font-size: 0.28rem;
    vertical-align: middle;
    border: 0;
   
}
#showText{
    width: 0.4rem;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/
    color: #b6b6b6;
}
input::-moz-input-placeholder{ /*Mozilla Firefox*/
    color: #b6b6b6;
}
input::-ms-input-placeholder{ /*Internet Explorer*/ 
    color: #b6b6b6;
}

.layout form .login-list ul li .login-single .cancel {
    width: 0.46667rem;
    height: auto;
    vertical-align: middle;
    margin-left: 0.26667rem;
}
.login-regist{
    margin:0.2rem 0.44rem 0.1rem 0.44rem;
}
.layout form .login-reg {
    font-size: 0.28rem;
    margin-right:4rem;
    text-align: left;
    color: #565656;
}

.layout form .login-forget {
    font-size: 0.28rem;
    border-radius: 0%;
    text-align: right;
    color: #565656;
}
 

.layout form .submit {
    font-size: 0.36rem;
    margin: 0.5rem 0.3rem 0rem 0.3rem;
    width: 6.6rem;
    height: 0.88rem;
    background-color: #de443c;
    color: #fff;
    border: 0;
    outline: none;
    -moz-border-radius: 0.06667rem;
    -webkit-border-radius: 0.06667rem;
    border-radius: 0.06667rem;
}

.layout form .reg-list {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    padding-left: 0.44rem;
    padding-right: 0.44rem;
}
 
.layout form .login-list ul{
    /* margin-left: 0.44rem;
    margin-right: 0.44rem; */
}
.layout form .reg-list ul{
    /* border:1px solid black; */
}
.layout form .reg-list ul li {
    /* margin: 0rem 0.29333rem 0rem 0.29333rem; */
    border-bottom: 0.01rem solid #d9d9d9;
}

.layout form .reg-list ul li .reg-single {
    text-align: left;
    font-size: 0rem;
    height: 1rem;
}

/* .layout form .reg-list ul li .reg-single .reg-single-text {
    width: 1.6rem;
    line-height: 1.41333rem;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.34667rem;
    margin-right: 0.29333rem;
    color: #999999;
} */

.layout form .reg-list ul li .reg-single .reg-single-input {
    width: 4.8rem;
    height: 0.98rem;
    font-size: 0.28rem;
    vertical-align: middle;
    border: 0;
}

.layout form .reg-list ul li .reg-single .reg-single-input.ver-code {
    vertical-align: middle;
    width: 4rem;
    font-size: 0.28rem;
    height: 0.98rem;
    border: 0;
}

.layout form .reg-list ul li .reg-single .reg-single-btn {
    width: 2.26rem;
    height: 0.6rem;
    font-size: 0.26rem;
    color: #de443c;
    border: 0;
    background: #fff;
    vertical-align: middle;
    outline:none;
    -webkit-appearance:none;
    text-align: right;
}

.layout form .reg-list ul li .reg-single .reg-single-btn.down {
    background-color: #d9d9d9;
}

.layout form .reg-list ul li .reg-single .reg-ver-img {
    width: 2.88rem;
    height: 1.06667rem;
    vertical-align: middle;
}

.layout form .reg-tip {
    font-size: 0.24rem;
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    color: #999999;
}

.layout form .reg-tip a {
    color: #de443c;
}


